[% META
   titulo = "Novidades &#8211; Fevereiro&#47;2024"
   pchav  = "lua,português,blog"
%]
[% PROCESS blog.tt %]
[% WRAPPER artigo.tt %]
<p>Olá, pessoal.</p>

<p>Nesse período entre o lançamento do projeto e agora não houve tempo para
avançar muito. Foquei sobretudo no refinamento dos <a href=
"/tutoriais/index.md">tutoriais</a> iniciais, para deixar mais acessível a um
público mais iniciante, sem ficar chato e repetitivo para um público com mais
conhecimento.</p>

<p>Especialmente no segundo tutorial, preferi remover alguns comentários e
seções e movê-los para seções separadas (adendos), pois assim evito que eles
entrem no caminho das partes mais essenciais do tutorial.</p>

<p>Por enquanto isto é tudo. Para próximas atualizações pretendo incluir
novos tutoriais e também adicionar um <em>feed</em> de notícias ao blog,
para facilitar o acompanhamento das notícias do projeto.</p>

[% WRAPPER nota.tt titulo = "O que é um <em>feed</em> de notícias?" %]
<p>
Um <em>web feed</em> (ou apenas <em>feed</em>) é um mecanismo pelo qual
você pode receber notificações de novo conteúdo a partir de uma fonte
assinada, como um <em>blog</em> ou um <em>podcast</em>.
</p>

<p>
Ele te oferece uma autonomia sobre quais conteúdos quer assinar, e em
geral é acessado via <strong>agregadores de notícias</strong>
(programas ou serviços que leem web feeds e notificam quando há algo
novo desde a última leitura).
</p>

<p>
Você pode consultar mais informações sobre isso na
<a href="https://pt.wikipedia.org/wiki/Feed">Wikipédia</a>.
</p>
[% END %]
[% END %]
