[% META
   titulo = "Codificação de caracteres"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<p>Executar código Lua a partir de arquivos-fonte é muito conveniente. Porém
isso nos traz uma questão a mais para prestar atenção: a codificação dos
caracteres utilizada no arquivo.</p>

<p>Vamos lembrar que em computação, tudo são conjuntos de bits (zeros e uns),
e uma máquina não possui qualquer noção de caracteres. Portanto, nosso modo
de representar caracteres em uma máquina é por meio de <strong>tabelas de
conversão</strong> que determinam que cada caractere corresponde a um
diferente conjunto de bits.</p>

<p>Por exemplo, a tabela <strong><a
href="https://pt.wikipedia.org/wiki/ASCII">ASCII</a></strong>
é um padrão bastante popular e amplamente usada em sistemas
operacionais. Ela determina, por exemplo, que o caractere
<code>a</code> (minúsculo) seja representado pelo número 97 (que
por sua vez em binário é representado por <code>1100001</code>).</p>

<p>A tabela ASCII é um recurso relativamente simples, porém também possui
algumas limitações: ela foi pensada para a língua inglesa. Isso significa,
por exemplo, que não contempla alfabetos de outros idiomas, e nem mesmo
oferece suporte a acentuação, ou cedilha, por exemplo (o que nos afeta).</p>

<p>Por este motivo, existem também outras tabelas de conversão, que
oferecem suporte a convenções diferentes da tabela ASCII. O padrão
<strong><a href="https://pt.wikipedia.org/wiki/Unicode">Unicode</a></strong>,
por exemplo, é muito mais sofisticado e possui suporte a virtualmente
tudo o que existe em termos de caracteres.</p>

<p>No entanto, o Unicode não determina como a máquina fará a
representação dos caracteres, ele apenas associa cada caractere ao que
chamamos de <strong>ponto de código</strong> (uma representação única
para cada caractere), e então existem diferentes esquemas de codificação
que determinam como um ponto de código é traduzido para bits, sendo o
<strong><a href="https://pt.wikipedia.org/wiki/UTF-8">UTF-8</a></strong>
um desses esquemas (e um dos mais populares).</p>

<p>Eu sei que esse é um tema complexo, mas o que quero que perceba é que
existem diferentes maneiras de representar o texto na forma de bits, e isso
afeta nossos arquivos, já que eles são compostos por caracteres.</p>

<p>Dependendo do editor de texto que utilizar, ele poderá ter alguma
convenção de qual codificação de texto utilizar por padrão, e muitos permitem
que você troque ou converta o arquivo para uma codificação diferente (o que é
um recurso bastante útil).</p>

<h2 id="como-tudo-isso-afeta-lua">Como tudo isso afeta Lua?</h2>

<p>Bem, se você editar um arquivo-fonte usando UTF-8, por exemplo, e depois
tentar executar esse arquivo em um terminal de comandos sem suporte a
Unicode, poderá ver alguns caracteres estranhos na tela, ou até ter problemas
de execução.</p>

<p>Isso pode ocorrer também se você editar o arquivo na sua máquina e
transferí-lo para outra pessoa abrir em outro editor, com uma codificação
diferente.</p>

<p>Por este motivo, é boa prática se restringir aos caracteres suportados
pela tabela ASCII nos arquivos-fonte, e quando houver necessidade de
manipulação de texto (em português, por exemplo), este texto deverá constar
em arquivos separados da lógica principal do programa.</p>

<p>Isso é especialmente importante quando estiver criando programas que serão
compartilhados entre usuários diferentes, em máquinas diferentes, ou que
deverão oferecer suporte a idiomas diferentes.</p>

<p>Para suporte a múltiplos idiomas, podemos separar as partes específicas de
idiomas distintos em arquivos identificados pelo idioma em questão (como
<code>pt_BR</code> para português brasileiro, por exemplo), e convencionar o
esquema de codificação utilizado para salvar esses arquivos.</p>

<p>Novamente afirmo que este é um tópico complexo e seria muita pretensão
tentar oferecer uma receita simples que sirva para tudo. O que tento fazer
aqui é alertar para a necessidade de prestar atenção à codificação em
situações que possam envolver múltiplos usuários ou que eventualmente
aprsentem &#8220;caracteres estranhos&#8221; na tela.</p>

<p>Isto inclusive não é uma limitação de Lua. No geral, linguagens de
programação são compostas por caracteres, escritos em um arquivo-fonte, que
estará sujeito a esse tipo de preocupação.</p>
[% END %]
