[% META
   titulo = "Executando arquivos-fonte em sistemas POSIX"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<p>No tutorial de <a href="../executando_codigo_lua.html">execução de código
Lua</a> vimos que um arquivo-fonte pode ser executado, na linha de comando,
informando primeiro o interpretador e em seguida o arquivo, como a
seguir:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
$ lua astronauta.lua
[% END %]

<p>Em sistemas POSIX, temos uma outra opção, que consiste em adicionar ao
arquivo, logo na primeira linha um apontamento para o interpretador, como
no exemplo a seguir:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
#!/usr/bin/lua
[% END %]

[% WRAPPER nota.tt titulo = "A linha <em>shebang</em>" %]
<p>
Essa forma de apontamento (uma linha inicial na qual inserimos os
caracteres <code>#!</code> seguidos de um caminho) usualmente é chamada
pelo termo <em>shebang</em>.
</p>
[% END %]

<p>Neste caso, estamos informando já no próprio arquivo o caminho completo
para o programa <code>lua</code>, que no exemplo acima está dentro de
<code>&#47;usr&#47;bin&#47;</code>. Porém, isto pode variar, dependendo de
onde Lua foi instalado no sistema.</p>

[% WRAPPER nota.tt titulo = "Quando nomes são modificados?" %]
<p>
Em alguns casos, até o nome do programa pode ser modificado durante
a instalação. Tipicamente, isto é feito para manter versões simultâneas
de Lua no mesmo sistema. Nesses casos, é comum que o interpretador
possua a versão em seu nome, como <code>lua5.3</code> e
<code>lua5.4</code>, por exemplo.
</p>
[% END %]

<p>Adicionada essa linha, torne o arquivo executável:</p>

[% WRAPPER codigo.tt %]
$ chmod +x astronauta.lua
[% END %]

<p>E agora você pode chamá-lo diretamente, como a seguir:</p>

[% WRAPPER codigo.tt %]
$ ./astronauta.lua
Estou na Lua
Sinto falta da Terra
[% END %]

<p>Evidentemente, depender desse apontamento afeta a portabilidade do
programa, pois se mudar para um sistema onde a localização do interpretador
<code>lua</code> for outra (ou o nome utilizado for outro), essa forma de
execução deixará de funcionar.</p>

<p>Uma mitigação comum para esse problema é usar o comando <code>env</code>
nessa primeira linha, que é uma forma indireta de chamar algum programa (como
<code>lua</code>). Esse é um recurso bastante comum, pois no geral sistemas
POSIX possuem esse comando no mesmo local. Veja como ficaria:</p>

[% WRAPPER codigo.tt %]
#!/usr/bin/env lua
[% END %]

<p>Caso não esteja em um sistema POSIX ou caso prefira executar o arquivo
chamando o programa <code>lua</code> explicitamente, essa linha inicial não
surtirá nenhum efeito, então não há nenhum problema em mantê-la nesses
casos.</p>

<p>Ao longo dos tutoriais, omitirei essa instrução, mas apenas saiba que você
poderá se deparar com ela em alguns arquivos Lua, especialmente em sistemas
POSIX.</p>
[% END %]
