[% META
   titulo = "Tutoriais"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<p>Esta seção está organizada em uma sequência de tutoriais, cada qual
tratando de um pequeno recorte da base de conhecimento que você precisará
para programar em Lua.</p>

<h2 id="primeiros-passos">Primeiros passos</h2>

<p>A seguir temos os tutoriais mais básicos, para você que está começando com
Lua:</p>

<ul>
  <li>
    <a href="por_que_lua.html">Por que Lua?</a>
  </li>

  <li>
    <a href="obtendo_lua.html">Obtendo Lua</a>
  </li>

  <li>
    <a href="executando_codigo_lua.html">Executando código Lua</a>
  </li>
</ul>
[% END %]
