[% META
   titulo = "Obtendo Lua"
%]
[% PROCESS geral.tt %]
[% lua_recente = "5.4.7" %]
[% WRAPPER artigo.tt %]
<p>
Neste tutorial vamos cumprir um requisito básico para que você possa
programar em Lua, que é obter Lua.
</p>

<h2 id="mas-o-que-significa-obter-lua">Mas o que significa obter Lua?</h2>

<p>
Se Lua é uma linguagem, como ela poderia ser obtida? Linguagens podem ser
aprendidas, não obtidas. Certo?
</p>

<p>
Certo, mas Lua não é apenas uma linguagem, é também uma biblioteca.
E a função da biblioteca Lua é converter o seu programa em código de
máquina, para então poder ser executado.
</p>

[% WRAPPER nota.tt titulo = "O que é uma biblioteca?" %]
<p>
Uma biblioteca é um tipo específico de programa que não se executa
diretamente, mas que é reaproveitado dentro de outros programas. Ele pode
fornecer uma coleção de funcionalidades que, do contrário teriam que ser
criadas do zero no programa.
</p>
[% END %]

<p>
Essa biblioteca é responsável por interpretar trechos de código Lua
dinamicamente, e então executar esses trechos. Ela foi feita para ser pequena
e fácil de embutir em outros programas, o que inclui o interpretador de linha
de comando <code>lua</code>, principal ferramenta que usaremos ao longo dos
tutoriais para executar código Lua.
</p>

<p>
Tanto a biblioteca Lua como o <strong>interpretador</strong> de linha de
comando (o programa <code>lua</code>, propriamente) são distribuídos em
conjunto no que chamamos de <strong>distribuição padrão</strong> de Lua. Essa
distribuição é software livre, sob os termos da <a href=
"https://www.lua.org/license.html">licença MIT</a>.
</p>

<h2 id="a-distribuio-padro">A distribuição padrão</h2>

<p>
A especificação da linguagem e sua implementação são coordenados por um
pequeno grupo na universidade PUC-Rio, que também hospeda todo o projeto, sob
o domínio <a href="https://www.lua.org/download.html">lua.org</a>.
</p>

<p>
Lá, pacotes contendo o código-fonte da biblioteca e do interpretador,
junto com toda a documentação são disponibilizados.
</p>

<p>
Há dois caminhos para obter Lua. Um deles é baixar essa distribuição
padrão e compilar o código-fonte de Lua para produzir os arquivos executáveis
e bibliotecas de que necessita.
</p>

<p>
Caso não saiba ou não queira fazer isso, outro caminho é baixar
distribuições binárias (isto é, pacotes que já foram compilados e estão
prontos para você utilizar), em geral, realizadas por terceiros.
</p>

<h3 id="qual-verso-de-lua-utilizar">Qual versão de Lua utilizar?</h3>

<p>
Se prestar atenção a diversos projetos que usam Lua, verá que é bastante
comum o suporte a mais de uma versão de Lua, geralmente abrangendo as versões
<em>5.1</em>, <em>5.2</em>, <em>5.3</em> e <em>5.4</em>.
</p>

<p>
Para o aprendizado, o mais indicado é que você se familiarize com a versão
mais recente (ou a versão mais recente disponível para seu sistema, se optar
por obter um pré-compilado).
</p>

<p>
Ainda assim, se você trabalhar com qualquer uma dessas quatro versões
citadas, conseguirá tirar proveito dos tutoriais (e demais materiais) do
Lu-a-Bá. Os procedimentos que veremos a seguir serão praticamente os mesmos
para qualquer uma delas.
</p>

<h3 id="obtendo-pr-compilados">Obtendo pré-compilados</h3>

<p>
Especialmente entre um público menos especializado ou que está iniciando
seus estudos, falar em compilação pode soar como algo difícil ou desafiador.
Não é tão difícil como parece, mas se isso for uma barreira para que inicie
seus estudos em Lua, não há por que se preocupar. Existem várias maneiras de
obter versões pré-compiladas de Lua.
</p>

[% WRAPPER nota.tt titulo = "O que é compilação?" %]
<p>
Convencionalmente, na programação, se usa o termo <em>compilação</em> em
referência ao processo de criação de um programa
<strong>executável</strong> (isto é, em código de máquina), a partir do
<strong>código-fonte</strong> desse programa (legível por humanos, mas
não por máquinas).
</p>
[% END %]

<p>
Entenda que pré-compilado, ou binário, quer dizer que alguém já fez esse
trabalho de obter o código-fonte de Lua e o converteu em um conjunto de
instruções binárias (bits) que podem ser executados na sua máquina.
</p>

<p>
Além disso, uma distribuição binária não é a mesma para todo mundo.
Existem variações quanto ao sistema onde pode executar e até mesmo o hardware
suportado (embora na maioria dos casos, binários pré-compilados sejam feitos
para computadores convencionais, com arquitetura <em>i386</em> ou
<em>amd64</em>).
</p>

<p>
Quando os pré-compilados são fornecidos por algum sistema de pacotes do
próprio sistema operacional, isso raramente é um problema, pois já é
fornecido na versão correta para seu sistema&#47;hardware. Portanto, já
adianto que este é o modo mais prático de obtenção, quando disponível.
</p>

<p>
Isto é comum em distribuições de Linux, nas quais existem gerenciadores
como <code>apt</code>, <code>dnf</code>, <code>yum</code>, <code>apk</code>,
<code>pacman</code>, <code>xbps</code> e vários outros. Nos sistemas BSD o
mesmo se aplica, cada qual possui seu gerenciador de pacotes. No macOS,
pode-se usar o <a href="https://brew.sh">homebrew</a>.
</p>

<p>
No Windows, algumas opções são utilizar o <a
href="https://www.cygwin.com">Cygwin</a>, o qual possui um
gerenciador de pacotes próprio (<code>apt-cyg</code>), o <a
href="https://www.msys2.org">MSYS2</a>, que também possui um
gerenciador próprio (uma versão adaptada do <code>pacman</code>
para Windows) ou usar o WSL, que virtualiza uma distribuição Linux.
Em qualquer um desses casos, ainda há o bônus de ter acesso a um
terminal aderente ao padrão POSIX.
</p>

<p>
Seja qual for o seu sistema, você deverá se familiarizar com o modo como
ele gerencia instalações, e se ele de algum modo proporciona uma instalação
automatizada de versões pré-compiladas de Lua.
</p>

<p>
Se estiver usando um sistema sem nenhuma possibilidade de
gerenciamento de pacotes, ou se ele não tiver acesso a um
pacote de instalação de Lua em seus repositórios, então outra
opção é obter pacotes pré-compilados no subprojeto
<a href="https://luabinaries.sourceforge.net/">LuaBinaries</a>.
</p>

[% WRAPPER nota.tt titulo = "O que é um repositório?" %]
<p>
No contexto de gerenciamento de pacotes (para instalação de programas
e bibliotecas), alguns sistemas usam termos como
&#8220;loja de aplicativos&#8221;, ou &#8220;central de software&#8221;.
Embora o termo &#8220;repositório&#8221; seja mais preciso, ele talvez
seja menos familiar para uma parcela do público, que usa esses
sistemas.
</p>
[% END %]

<p>
O <em>LuaBinaries</em> contempla distribuições binárias de executáveis e
bibliotecas compartilhadas para GNU&#47;Linux (usando a biblioteca C
<em>glibc</em>), Windows e macOS. Pacotes com o sufixo <code>_bin</code>
possuem os executáveis, já os pacotes com o sufixo <code>_lib</code> possuem
cabeçalhos e a biblioteca compartilhada, que servem para desenvolver
aplicações com Lua embutido.
</p>

<p>
Ao descompactar o pacote dos executáveis, você já terá acesso aos
programas executáveis (<code>lua</code> e <code>luac</code>). Para poder
executá-los a partir de qualquer local, deverá incluir o diretório onde eles
foram descompactados na variável de ambiente <code>PATH</code> do
sistema.
</p>

[% WRAPPER nota.tt titulo = "O que são variáveis de ambiente?" %]
<p>
Variáveis de ambiente do sistema operacional são lidas pelos
programas e podem afetar o modo como executam. Em específico, a
variável <code>PATH</code> é útil para terminais de linha de comando,
para que não seja necessário informar o caminho completo até o local
onde um programa está instalado.
</p>
[% END %]

<p>
O processo de instalação utilizando o <em>LuaBinaries</em> pode ser
simples, mas você não terá uma atualização automática desses pacotes. Ou
seja, quando novas versões forem disponibilizadas, você deverá repetir esse
procedimento manualmente se quiser atualizar seu ambiente de
desenvolvimento.
</p>

<p>
Vantagens de obter pré-compilados:
</p>

<ul>
  <li>
    Tende a ser mais fácil, especialmente para iniciantes;
  </li>

  <li>
    Em caso de obter via pacotes do sistema operacional, contará com
    atualizações automáticas e utilizará caminhos padrão do sistema.
  </li>
</ul>

<p>
Desvantagens de obter pré-compilados:
</p>

<ul>
  <li>
    Menor controle sobre os arquivos obtidos (afinal, foram gerados por
    terceiros), o que faz diferença quando precisa aplicar personalizações
    próprias ou quando há critérios mais rígidos de segurança;
  </li>

  <li>
    Você talvez não encontre pré-compilados para o seu sistema operacional,
    para seu processador ou para a versão de Lua que deseja usar.
    Isto é pouco comum, mas pode ocorrer para alguns processadores ou
    sistemas operacionais menos convencionais.
  </li>
</ul>

<h3 id="certo-e-se-eu-quiser-compilar">Certo, e se eu quiser compilar?</h3>

<p>
Compilar Lua é o &#8220;método canônico&#8221; para sua obtenção. Ou seja,
você pode obter a distribuição padrão direto da fonte, extrair o código-fonte
e compilar para gerar os executáveis e bibliotecas de que necessita para usar
Lua.
</p>

<p>
<strong>Atenção:</strong> não saber o que é um processo de compilação
poderá tornar o procedimento um pouco mais difícil ou confuso. Se você já
obteve Lua pelo seu sistema operacional ou por empacotamentos binários de
terceiros como <em>LuaBinaries</em>, não precisa realizar essa etapa.
</p>

<p>
Feito esse alerta, você verá que, como eu disse, o procedimento é bem
simples. Alguns motivos:
</p>

<ol>
  <li>
    O projeto é relativamente pequeno, e não requer um grande poder
    computacional para compilar, geralmente levando pouco tempo;
  </li>

  <li>
    É inteiramente escrito em C89, isto é, pode ser compilado para qualquer
    plataforma para a qual existe um compilador aderente a este padrão (o que
    significa que são muitas, muitas mesmo);
  </li>

  <li>
    Sua única dependência é a própria biblioteca C.
  </li>
</ol>

<p>
Basicamente, você precisará obter o pacote na versão desejada, dispor de
um compilador C e do programa <code>make</code>. Instruções estão disponíveis
no arquivo <em>README.html</em>.
</p>

<p>
Os pacotes são fornecidos no formato <code>.tar.gz</code>, bastante comuns
em sistemas POSIX. Essencialmente são pacotes <em>tar</em> compactados com o
algoritmo <em>gzip</em>. Mesmo em sistemas não POSIX é possível
encontrar&#47;instalar utilitários para manipulação desses formatos.
</p>

<p>

Tipicamente em distribuições Linux, sistemas BSD e no macOS você
já terá utilitários capazes de manipular esses formatos. No
Windows, pode-se obter um ambiente POSIX (o que inclui esses
utilitários) usando o <a href="https://www.cygwin.com">Cygwin</a>, o
<a href="https://msys2.org">MSYS2</a> ou o WSL.

</p>

<p>
Conforme orientado na página oficial de <em>downloads</em>, na seção
<a href="https://www.lua.org/download.html#building"><em>building</em></a>
(para a versão [% lua_recente %], em um sistema do tipo POSIX), pode-se obter e compilar
Lua por meio dos seguintes passos:
</p>

[% WRAPPER codigo.tt tipo = "sh" %]
curl -R -O http://www.lua.org/ftp/lua-[% lua_recente %].tar.gz
tar zxf lua-[% lua_recente %].tar.gz
cd lua-[% lua_recente +%]
make all test
[% END %]

<p>
Na primeira linha, baixamos o pacote <code>.tar.gz</code> referente à
versão <em>[% lua_recente %]</em> de Lua. Para isso utilizamos o programa
<code>curl</code> (se não o tiver instalado, poderá usar algum outro cliente
HTTP equivalente). Em seguida, na segunda linha desempacotamos e
descompactamos o arquivo, para extrair o código-fonte.
</p>

<p>
Na terceira linha nos dirigimos ao diretório recém-criado,
<code>lua-[% lua_recente %]</code>, dentro do qual o código foi extraído. Por fim, na
quarta linha, executamos o script <code>make</code>, que compila Lua e testa
os resultados para atestar que foi bem sucedido.
</p>

<p>
Até aqui o que fizemos foi gerar os arquivos necessários. Ainda falta o
passo de instalação, que basicamente é copiar esses arquivos para diretórios
de sistema (ou qualquer local da sua preferência). Isto será feito com o
comando:
</p>

[% WRAPPER codigo.tt tipo = "sh" %]
make install INSTALL_TOP=meu_diretorio
[% END %]

<p>
A opção <code>INSTALL_TOP</code> é opcional. Caso seja suprimida, os
diretórios padrão do sistema serão usados como destino. Esses diretórios são
definidos no próprio arquivo <code>Makefile</code>. Caso seja informada,
deverá ter como valor o diretório base da instalação, ou seja, um diretório
personalizado.
</p>

<p>
Caso tenha optado por usar diretório personalizado, nele serão criados os
subdiretórios <code>bin</code> (para os executáveis), <code>include</code>
(para arquivos de cabeçalho), <code>lib</code> (para a biblioteca Lua, e para
módulos C que venha a instalar depois), <code>man</code> (para as páginas de
manual) e <code>share</code> (para módulos Lua que venha a instalar
depois).
</p>

<p>
Além disso, você provavelmente vai querer se certificar de que a variável
de ambiente <code>PATH</code> inclua o subdiretório <code>bin</code> do local
escolhido, para que possa executar os comandos <code>lua</code> e
<code>luac</code> a partir de qualquer local.
</p>

<p>
Em sistemas que suportam páginas de manual no formato de
<em>manpages</em>, você também deverá atualizar a variável
<code>MANPATH</code> para incluir o subdiretório <code>man</code>. Isto
permitirá que consulte as páginas de manual referentes aos programas
<code>lua</code> e <code>luac</code>.
</p>

<p>
Quando você desejar obter novas versões de Lua, isto é, atualizar a sua
instalação, esse procedimento manual deverá ser executado novamente, a não
ser que seu sistema disponha de uma infraestrutura mais avançada de
compilação, que permita automatizar esse processo.
</p>

<p>
Por exemplo, em sistemas BSD é bastante comum o conceito de
<code>ports</code>, no qual existem &#8220;receitas&#8221; prontas para
instalação de um pacote, porém compilado na máquina local, em geral
permitindo que algumas opções de compilação (como o local de destino,
<code>INSTALL_TOP</code>, mencionado aqui) sejam definidas.
</p>

<p>
Algumas distribuições de Linux (notadamente o Gentoo, por exemplo) também
exploram esse conceito, que equilibra o gerenciamento de pacotes no sistema
com a flexibilidade da compilação local.
</p>

<p>
Vantagens de compilar o código-fonte:
</p>

<ul>
  <li>
    Maior possibilidade de personalização dos arquivos gerados;
  </li>

  <li>
    Maior segurança, pois pode-se inspecionar o código-fonte antes de gerar
    os arquivos binários;
  </li>

  <li>
    Como alguns sistemas não suportam ligação dinâmica, compilar e ligar
    estaticamente os binários com módulos próprios é uma opção;
  </li>

  <li>
    Pode-se escolher precisamente a versão de Lua que se deseja
    utilizar.
  </li>
</ul>

<p>
Desvantagens de compilar o código-fonte:
</p>

<ul>
  <li>
    Para alguns usuários iniciantes pode exigir um pouco mais de estudo ou
    parecer confuso;
  </li>

  <li>
    Se não houver uma infraestrutura avançada de compilação, o procedimento
    manual precisará ser repetido para novas versões.
  </li>
</ul>

<h2 id="usando-lua">Usando Lua</h2>

<p>
Uma vez que você tenha instalado Lua no seu sistema, poderá testar os
resultados acionando o interpretador de linha de comando (apenas o comando
<code>lua</code>, sem argumentos). Ao executá-lo, deverá ver um cabeçalho
como a seguir:
</p>

[% WRAPPER codigo.tt %]
$ lua
[% PROCESS luacab.tt %]
>
[% END %]

<p>
<strong>Obs.:</strong> Neste exemplo estou assumindo que seu terminal
utilize o sinal <code>$</code> como <em>prompt de comandos</em>. Em todo
caso, você pode ignorá-lo.
</p>

[% WRAPPER nota.tt titulo = "O que é um <em>prompt</em> de comando?" %]
<p>
Usamos o termo <em>prompt</em> de comando em referência ao caractere (ou
sequência de caracteres) que sinaliza que o sistema está à espera de um
comando a ser inserido pelo usuário. É o que denota a linha de comando,
por assim dizer.
</p>
[% END %]

<p>
Ao executar o interpretador <code>lua</code> você verá uma linha com a
versão e a nota de direitos autorais da PUC-Rio, e em seguida o <em>prompt de
comando</em> de Lua (note o sinal <code>&#62;</code> logo em seguida). Isto
quer dizer que o interpretador está pronto para receber novos comandos.
</p>

<p>
Vamos testar um primeiro comando. Experimente digitar, após o
<em>prompt</em> o comando <code>os.exit()</code>, seguido da tecla
<code>Enter</code>. Isto encerrará o interpretador Lua.
</p>

[% WRAPPER codigo.tt %]
> os.exit()
$
[% END %]

<p>
Perceba que ao executar esse comando, o interpretador é encerrado, e
você volta para o <em>prompt</em> do sistema (<code>$</code>, nesse caso).

<p>
Muito bem! Isso significa que agora você obteve Lua com sucesso e já pode
começar a programar.
</p>

<h2 id="resumo">Resumo</h2>

<p>
Neste tutorial você aprendeu que Lua não apenas é uma linguagem, mas
também uma biblioteca, e que essa biblioteca está embutida nos programas
que fazem parte da distribuição padrão de Lua (ou seja, no interpretador
<code>lua</code> e no compilador <code>luac</code>).
</p>

<p>
Aprendeu também que existem diferentes versões de Lua ainda em uso
corrente, sendo recomendado usar a mais recente, para novos projetos.
E além disso, viu que existem essencialmente duas maneiras de obter
essa distribuição:
</p>

<ul>
  <li>
    Usando gerenciadores de pacotes para obtenção de pré-compilados;
  </li>

  <li>
    Compilando manualmente o código-fonte de Lua para seu sistema.
  </li>
</ul>

[% INCLUDE adendos.tt
   principal = "obtendo_lua"
   adendos = [
	{ hlink = "arquivos_esperados",
	  titulo = "O que se espera de uma instalação" }
   ]
%]

<h2 id="contedo-relacionado">Conteúdo relacionado</h2>

<ul>
  <li>
    Bibliografia &#8211; <a href="../bibliografia/jai2009.html">
    Uma introdução à programação em Lua</a>
  </li>

  <li>
    Glossário &#8211;
    <a href="../glossario.html#distribuio-padro">Distribuição padrão</a>
  </li>

  <li>
    Glossário &#8211;
    <a href="../glossario.html#interpretador-lua">Interpretador Lua</a>
  </li>

  <li>
    Versões &#8211; <a href="../versoes/index.html">Versões de Lua</a>
  </li>
</ul>
[% END %]
