[% META
   titulo = "Lua e outras linguagens"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<p>A seguir temos uma lista de comparativos de Lua com outros ambientes de
desenvolvimento, que guardam alguma relação com Lua.</p>

<ul>
  <li>
    <a href="lua_e_c.html">Lua e C</a>
  </li>
</ul>

<h2 id="as-decises-por-trs-da-linguagem">As decisões por trás da
linguagem</h2>

<p>Linguagens de programação dificilmente são criadas do zero. Em geral elas
se inspiram em características observadas em linguagens antecedentes. Essas
características são escolhidas para que a linguagem proposta possa atender o
seu propósito. Eventualmente, algumas características novas e originais
poderão surgir também.</p>

<p>Lua não foge a essa regra, e se inspirou em outras linguagens, algumas
específicas de domínio, como SOL e DEL, e outras com um uso mais abrangente,
como Scheme e AWK. Para além da inspiração, Lua também precisa oferecer uma
integração com outros ambientes de desenvolvimento para cumprir o seu papel
de linguagem embutível e extensível.</p>

<p>Em especial, a biblioteca Lua é escrita em C e possui uma API C, o que
torna comum o cenário de que programadores Lua sejam também programadores C,
embora isso não seja estritamente necessário para programar em Lua.</p>

<p>O projeto Lu-a-Bá cobre alguns comparativos entre Lua e linguagens que
tenham alguma relação com o seu desenvolvimento e funcionamento, apontando as
suas semelhanças e diferenças.</p>
[% END %]
