[% META
   titulo = "Como contribuir"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<p>Obrigado por querer contribuir com o Lu-a-Bá.</p>

<p>Por hora, não estou incluindo diretamente conteúdo contribuído por
terceiros neste projeto. No entanto, você pode contribuir de algumas
maneiras:</p>

<ul>
  <li>A mais simples delas é falando sobre o projeto com pessoas interessadas
  em Lua;</li>

  <li>Você também pode ajudar participando de discussões (vide abaixo, em
  <a href="#discuss%C3%B5es">discussões</a>), revelando a sua percepção até o
  momento;
  </li>

  <li>Você pode criar outros projetos relacionados ao aprendizado de Lua, e
  me comunicar, para que possamos estabelecer uma rede de apoio mútuo.</li>
</ul>

<h2 id="discusses">Discussões</h2>

<p>Você pode iniciar uma discussão sobre o projeto por meio do sistema de
<a href="https://codeberg.org/luaba/conteudo/issues">issues</a> do
repositório (no <a href="https://codeberg.org">Codeberg</a>, onde está
hospedado o conteúdo do site).</p>

<p>Para o sistema de <em>issues</em>, é necessário possuir uma conta no
Codeberg, e é importante que as issues registradas possuam um escopo bem
definido. Os requerimentos ficam registrados no projeto, assim como todas as
discussões decorrentes deles.</p>

<p>Por enquanto este é o único meio &#8220;oficial&#8221; para discutir o
projeto. Outras formas de interação podem ser disponibilizadas no futuro.</p>

<h2 id="ajude-quem-est-me-ajudando">Ajude quem está me ajudando</h2>

<p>Uma outra maneira de ajudar o Lu-a-Bá, indiretamente, é apoiando os
projetos que possibilitam a sua existência. É graças a eles que o Lu-a-Bá não
precisa de doações para custear o projeto. Então talvez queira ajudá-los.</p>

<p>Um deles é o próprio projeto <a href="https://lua.org">Lua</a>, razão
principal pela qual o Lu-a-Bá existe. Você pode descobrir como contribuir e
como apoiar o projeto Lua <a href=
"https://www.lua.org/portugues.html#contribuir">aqui</a> e <a href=
"https://www.lua.org/portugues.html#apoiar">aqui</a>.</p>

<p>Você também pode apoiar o <a href="https://codeberg.org">Codeberg</a>, que
hospeda os repositórios do Lu-a-Bá e este <em>site</em>. Para saber como
ajudar o Codeberg, <a href=
"https://docs.codeberg.org/improving-codeberg/">vide instruções aqui</a> (em
inglês).</p>
[% END %]
