[% META
   titulo = "Cronologia"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<p><strong>Atenção:</strong> Os materiais citados aqui (exceto o próprio
projeto Lu-a-Bá) não são parte deste projeto, portanto não estão (ao menos,
não necessariamente) cobertos pela mesma licença de conteúdo.</p>

<p>Veja a seguir uma perspectiva temporal sobre o escopo do Lu-a-Bá.</p>

[% WRAPPER nota.tt
   titulo = "E o livro <em>Programming in Lua</em>?" %]
<p>
O livro <a href="https://www.lua.org/pil/">Programming in Lua</a>
(Programando em Lua, em inglês), embora não seja detalhado na seção de
<a href="/bibliografia/index.html">Bibliografia</a>, pode ser
considerado uma referência <em>de facto</em> para o aprendizado de Lua,
e por este motivo também é citado a seguir.
</p>
[% END %]

<h2 id="2022">2022</h2>

<ul>
  <li>Criação do projeto <a href="/">Lu-a-Bá</a>
  </li>
</ul>

<h2 id="2020">2020</h2>

<ul>
  <li>Primeiro lançamento da versão <a href="versoes/index.html#5.4">5.4</a>
  </li>

  <li>Último lançamento da versão <a href="versoes/index.html#5.3">5.3</a>
  </li>
</ul>

<h2 id="2018">2018</h2>

<ul>
  <li>Publicação do artigo <a href="bibliografia/look_design_lua.html">A Look
  at the Design of Lua</a> (Um olhar sobre o desenho de Lua, em inglês)
  </li>
</ul>

<h2 id="2016">2016</h2>

<ul>
  <li>
    Publicação da quarta edição do livro <em>Programming in Lua</em></a>
    (em inglês), referente a Lua 5.3.
  </li>
</ul>

<h2 id="2015">2015</h2>

<ul>
  <li>Primeiro lançamento da versão <a href="versoes/index.html#5.3">5.3</a>
  </li>

  <li>Último lançamento da versão <a href="versoes/index.html#5.2">5.2</a>
  </li>

  <li>
    Publicação de versão traduzida da terceira edição do livro
    <em>Programming in Lua</em> para <strong>português</strong>.
  </li>
</ul>

<h2 id="2014">2014</h2>

<ul>
  <li>
    Publicação de versão traduzida da terceira edição do livro
    <em>Programming in Lua</em> para russo.
  </li>
</ul>

<h2 id="2013">2013</h2>

<ul>
  <li>
    Publicação da terceira edição do livro <em>Programming in Lua</em></a>
    (em inglês), referente a Lua 5.2.
  </li>
</ul>

<h2 id="2012">2012</h2>

<ul>
  <li>Último lançamento da versão <a href="versoes/index.html#5.1">5.1</a>
  </li>
</ul>

<h2 id="2011">2011</h2>

<ul>
  <li>Primeiro lançamento da versão <a href="versoes/index.html#5.2">5.2</a>
  </li>
</ul>

<h2 id="2009">2009</h2>

<ul>
  <li>Publicação do artigo <a href="bibliografia/jai2009.html">Uma introdução
  à programação em Lua</a>
  </li>

  <li>
    Publicação de versão traduzida da segunda edição do livro
    <em>Programming in Lua</em> para japonês.
  </li>
</ul>

<h2 id="2008">2008</h2>

<ul>
  <li>Criação da <a href="bibliografia/apostila_lua_2008.html">Apostila
  Lua</a>
  </li>

  <li>
    Publicação de versão traduzida da segunda edição do livro
    <em>Programming in Lua</em> para chinês.
  </li>
</ul>

<h2 id="2007">2007</h2>

<ul>
  <li>
    <a href="bibliografia/hopl3.html">Apresentação da história de Lua</a> no
    HOPL III
  </li>

  <li>
    Publicação de versão traduzida da segunda edição do livro
    <em>Programming in Lua</em> para coreano.
  </li>
</ul>

<h2 id="2006">2006</h2>

<ul>
  <li>
    Publicação de versão traduzida da segunda edição do livro
    <em>Programming in Lua</em> para alemão.
  </li>

  <li>
    Publicação da segunda edição do livro <em>Programming in Lua</em></a>
    (em inglês), referente a Lua 5.1.
  </li>

  <li>
    Primeiro lançamento da versão <a href="versoes/index.html#5.1">5.1</a>
  </li>

  <li>
    Último lançamento da versão <a href="versoes/index.html#5.0">5.0</a>
  </li>
</ul>

<h2 id="2004">2004</h2>

<ul>
  <li>
    <a href="bibliografia/wjogos04.html">Apresentação do ambiente Lua</a> no
    Simpósio Brasileiro de Jogos para Computador e Entretenimento Digital
  </li>
</ul>

<h2 id="2003">2003</h2>

<ul>
  <li>
    Publicação da primeira edição do livro <em>Programming in Lua</em></a>
    (em inglês), referente a Lua 5.0. Disponível
    <a href="https://www.lua.org/pil/contents.html">online</a>.
  </li>

  <li>
    Primeiro lançamento da versão <a href="versoes/index.html#5.0">5.0</a>
  </li>
</ul>

<h2 id="para-que-serve-essa-cronologia">Para que serve essa cronologia?</h2>

<p>O rastro do tempo nem sempre é evidente. Muitas vezes, uma história acaba
ficando para trás, perdida em meio a fatos espalhados e desapercebidos.
Compreender o desenvolvimento de uma linguagem de programação e o modo como
ela se torna relevante pode ser de grande utilidade, mas para isso é preciso
compreender a ordem dos fatos.</p>

<p>Parte importante de um ambiente de desenvolvimento é a quantidade de
documentos disponíveis, que explicam e ensinam o seu manejo. A especificação
oficial da linguagem Lua é uma fonte importante, obviamente, mas não é
voltado para o aprendizado da linguagem, e sim para explicar como o
interpretador e a biblioteca devem se comportar.</p>

<p>Existem vários documentos interessantes para aprendizado da linguagem Lua.
Livros, apostilas, artigos&#8230; porém muitos deles são de épocas
diferentes, e portanto retratam uma situação diferente (ainda que a linguagem
seja bastante estável e muito dela se mantenha ao longo de décadas).</p>

<p>O esforço mental para encaixar cronologicamente a sequência de materiais
criados e versões publicadas pode ser facilitado com o auxílio deste
documento, que apresenta na ordem inversa (do mais recente para o mais
antigo) os materiais e versões que foram surgindo.</p>
[% END %]
