[% META
   titulo = "Glossário"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<p>
Como se espera de um documento intitulado &#8220;Glossário&#8221;, o
objetivo deste documento é esclarecer o significado de alguns termos
relevantes para esta área de conhecimento, isto é, sobre a linguagem Lua e
sua implementação. A quantidade de termos que interferem na compreensão deste
tema não é pequena, e portanto serão priorizados os termos que:
</p>

<ol>
  <li>São específicos deste ambiente de desenvolvimento;</li>

  <li>São pouco comuns entre outros ambientes de desenvolvimento;</li>

  <li>São comuns, porém possuem um significado diferente neste ambiente.</li>
</ol>

<p>
Vale lembrar que o glossário contempla apenas as <a href=
"versoes/index.html">versões</a> abrangidas pelo projeto Lu-a-Bá. Referências
à documentação são adicionadas para cada termo abordado, dando preferência a
versões traduzidas para português, quando possível (no momento, apenas 5.1 e
5.2).
</p>

<p>
Os termos a seguir estão em ordem alfabética. Vide lista completa no
<a href="#conteudo-pagina">conteúdo desta página</a>.
</p>

<h2 id="acar-sinttico">Açúcar sintático</h2>

<p>
O termo açúcar sintático é relativamente comum na documentação de Lua,
portanto vale explicar o que ele significa. Um açúcar sintático é uma
expressão sinônima de outra, que de algum modo pode ser mais conveniente ou
mais fácil de entender em algumas situações.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
-- a expressão ...
function a() return 1 end
-- ... é um açúcar sintático para
a = function() return 1 end

t.a -- açúcar sintático para t["a"]
[% END %]

<p>
Como se pode observar, a expressão chamada de açúcar sintático costuma ser
mais intuitiva ou mais enxuta, embora possua o mesmo significado de uma outra
expressão menos intuitiva ou mais verbosa.
</p>

<h2 id="ambiente">Ambiente</h2>

<p>
Este é um conceito que passou por uma mudança mais brusca, da versão 5.1
para a 5.2, tendo se mantido o mesmo desde então.
</p>

<p>
Nas versões mais atuais, um ambiente é uma <a href=
"#varivel-local-externa">variável local externa</a> cujo nome é
<code>_ENV</code> e o tipo é uma <a href="#tabela">tabela</a>. Todos os
elementos dessa tabela são considerados parte do ambiente, portanto, e na
prática uma <a href="#varivel-global">variável global</a> é um elemento
do ambiente ativo.
</p>

<p>
Com essa definição de ambientes, trocar de ambiente resume-se a substituir
o valor da variável <code>_ENV</code> por uma tabela diferente. Ao fazer
isso, os elementos da nova tabela é que serão as variáveis globais
disponíveis. Atribuir uma tabela vazia a <code>_ENV</code>, portanto,
significa esvaziar totalmente o ambiente.
</p>

<p>
Na versão 5.1, ambientes também são tabelas, porém não são identificadas
pelo nome <code>_ENV</code>, e não é possível alterar o ambiente vigente de
um modo genérico (uma única alteração para várias funções de uma vez, por
exemplo). É preciso especificar para qual objeto o ambiente novo será
usado.
</p>

<p>
O acesso a ambientes, neste caso, é intermediado por funções específicas
(<a href="https://www.lua.org/manual/5.1/pt/manual.html#pdf-getfenv">
<code>getfenv()</code></a> para obter o ambiente vigente, e
<a href="https://www.lua.org/manual/5.1/pt/manual.html#pdf-setfenv">
<code>setfenv()</code></a> para configurar um novo ambiente para uma
função ou <a href="#co-rotina">co-rotina</a>).
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.2">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.2">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.2">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.9">5.1</a>
</p>

<h2 id="ambiente-global">Ambiente global</h2>

<p>
Diferentemente do conceito de <a href="#ambiente">ambiente</a>, o de
ambiente global se manteve mais estável ao longo das versões. Trata-se de uma
tabela mantida internamente pela biblioteca Lua e cujo valor pode ser
acessado em código Lua pela variável <code>_G</code>.
</p>

<p>
É fácil confundir as variáveis <code>_ENV</code> e <code>_G</code>, já que
por padrão elas guardam exatamente o mesmo valor. Mas cabe lembrar a seguinte
distinção:
</p>

<ul>
  <li>
    <code>_ENV</code> é uma <a href="#varivel-local-externa">variável
    local externa</a>;
  </li>

  <li>
    <code>_G</code> é uma <a href="#varivel-global">variável
    global</a>.
  </li>
</ul>

<p>
Portanto a própria variável <code>_G</code> consta na tabela apontada por
<code>_G</code>, ao passo que <code>_ENV</code>, não sendo uma variável
global, não consta.
</p>

<p>
O script a seguir pode ser executado em versões a partir da 5.2 para
demonstrar isto.
</p>

[% WRAPPER codigo.tt tipo = "lua" %]
print (_G._G == _G)   --> true
print (_ENV == _G)    --> true
print (_ENV._G)       --> 0x7f6008a58f00
                      --  (ou qualquer outra identificação de
                      --  tabela, varia com a execução)
print (_G._ENV)       --> nil
[% END %]

<p>
Podemos adaptá-lo para Lua 5.1 da seguinte forma (omitindo a última linha,
já que não há <code>_ENV</code> neste caso):
</p>

[% WRAPPER codigo.tt tipo = "lua" %]
print (_G._G == _G)     --> true
print (getfenv() == _G) --> true
print (getfenv()._G)    --> 0x7f6008a58f00
                        --  (ou qualquer outra identificação de
                        --  tabela, varia com a execução)
[% END %]

<p>
Independente da versão de Lua, alterar o valor da variável <code>_G</code>
não resulta em qualquer consequência para a execução do programa (salvo
quando o programa de algum modo faz referência a esta variável).
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
teste = "Ainda estou aqui"
_G = nil
print(teste) --> Ainda estou aqui
[% END %]

<p>
Isto ocorre pois a variável apenas mudou seu apontamento, mas o ambiente
vigente permanece o mesmo, e é dele que qualquer variável global será
lida.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.2">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.2">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.2">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#pdf-_G">5.1</a>
</p>

<h2 id="api-c">API C</h2>

<p>
Lua é uma linguagem feita para executar embutida em outros programas
(ainda que o programa em questão seja o <a href=
"#interpretador-lua">interpretador lua</a> e toda a lógica de negócio seja
implementada em Lua). Deste modo, precisa de uma interface com o <a href=
"#programa-hospedeiro">programa hospedeiro</a>. Tal interface é a API C.
</p>

<p>
Por meio dela é possível criar uma interação entre o programa hospedeiro e
um ou mais <a href="#estado-lua">estados Lua</a>. A interação é feita com o
auxílio de uma <a href="#pilha-virtual">pilha virtual</a>, de modo que todas
as funções da API interagem com uma pilha desse tipo.
</p>

<p>
As funções e tipos da API são declaradas no arquivo <code>lua.h</code>, e
tem a convenção de iniciar com o prefixo <code>lua_</code> (por exemplo,
<code>lua_newstate()</code> e <code>lua_pushnumber()</code>). Os tipos
definidos neste cabeçalho tem a convenção de iniciar por uma letra maiúscula
após o prefixo (por exemplo, <code>lua_Number</code>).
</p>

<p>
Com o uso de funções da API é possível interagir com a pilha virtual, seja
inserindo ou removendo valores, ou realizando as diversas operações que podem
ser executadas em Lua, como atribuição de valores ou execução de funções, por
exemplo, tendo os itens da pilha como parâmetros, e podendo também deixar o
retorno das funções executadas na própria pilha.
</p>

<p>
Além das funções da biblioteca Lua, propriamente, existe também uma
<a href="#biblioteca-auxiliar">biblioteca auxiliar</a>, a qual também faz
parte da <a href="#distribuio-padro">distribuição
padrão</a>, e que oferece um pouco mais de ergonomia na manipulação da API
básica.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#4">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#4">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#4">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#3">5.1</a>
</p>

<h2 id="biblioteca-auxiliar">Biblioteca auxiliar</h2>

<p>
Embora a <a href="#api-c">API C</a> forneça todas as operações necessárias
para interagir com um <a href="#estado-lua">estado Lua</a>, as funções são
relativamente cruas ou em alguns casos tediosas de utilizar devido ao fato de
exigir alguns parâmetros cujo valor poderia ser o mesmo para a maior parte
dos casos.
</p>

<p>
No sentido de oferecer um pouco mais de ergonomia para a API, a biblioteca
auxiliar fornece funções que estendem a API, facilitando operações que são
comuns. Essa biblioteca também faz parte da <a href=
"#distribuio-padro">distribuição padrão</a>. Suas funções e
tipos são declarados no arquivo de cabeçalho <code>lauxlib.h</code>.
</p>

<p>
Para diferenciar das funções e tipos da API principal, as funções e tipos
tem a convenção de iniciar pelo prefixo <code>luaL_</code> no lugar de
<code>lua_</code>. A convenção de iniciar os tipos (após o prefixo) com uma
maiúscula, no entanto, também é utilizada do na biblioteca auxiliar, sem
diferença com a API principal.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#5">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#5">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#5">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#4">5.1</a>
</p>

<h2 id="biblioteca-padro">Biblioteca padrão</h2>

<p>
A biblioteca padrão é uma coleção de variáveis disponíveis no <a href=
"#ambiente-global">ambiente global</a>, a maioria das quais são agrupadas em
<a href="#mdulo">módulos</a>, voltados para um tipo de operação.
</p>

<p>
Por exemplo, o módulo <code>math</code> dispõe várias funções matemáticas
como seno e logaritmo, e também constantes (não no sentido de <a href=
"#constantes">constantes Lua</a>, mas sim no sentido matemático mesmo) como
PI, enquanto o módulo <code>io</code> dispõe funções para interação com a
entrada e a saída do programa (o que permite ler e escrever em arquivos).
</p>

<p>
Todas as funções da biblioteca padrão são implementadas em C utilizando a
<a href="#api-c">API C</a> de Lua, e podem ou não estar disponíveis para um
programa Lua, a depender de como o <a href="#programa-hospedeiro">programa
hospedeiro</a> foi compilado. O <a href="#interpretador-lua">interpretador
Lua</a>, por exemplo, é compilado de modo a disponibilizar a biblioteca
padrão para o código Lua.
</p>

<p>
Ao longo das versões de Lua, a biblioteca padrão eventualmente sofre
algumas mudanças, incluindo o retirando alguns módulos (como o
<code>utf8</code> que passou a existir a partir da versão 5.3, ao mesmo tempo
que o <code>bit32</code> foi descontinuado), ou também incluindo ou retirando
funções dos módulos existentes.
</p>

<p>
No interpretador Lua os módulos da biblioteca padrão não precisam ser
importados, eles já estão disponíveis no ambiente global, porém outros
<a href="#programa-hospedeiro">programas hospedeiros</a> podem eventualmente
optar por não incluí-los.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#6">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#6">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#6">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#5">5.1</a>
</p>

<h2 id="bloco">Bloco</h2>

<p>
Um bloco é uma sequência de zero ou mais comandos, e o início de um bloco
é sempre o início de um escopo, dentro do qual <a href=
"#varivel-local">variáveis locais</a> podem ser criadas e persistidas
até o fim do bloco.
</p>

<p>
Blocos podem ser criados de várias maneiras. O corpo de uma função é um
bloco, assim como o corpo de um laço iterativo ou o de uma estrutura
condicional. Estas são formas implícitas de criação de um bloco. Blocos
também podem ser criados explicitamente com o uso da estrutura <code>do ...
end</code>.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
function a()
    -- bloco como corpo da função
    if b == 1 then
        -- bloco como corpo da condição verdadeira
    else
        -- bloco como corpo da condição falsa
    end
end

do
    -- bloco explícito
end
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.3.1">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#3.3.1">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#3.3.1">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.4.2">5.1</a>
</p>

<h2 id="chamada-final">Chamada final</h2>

<p>
Uma chamada final é uma chamada de função realizada como retorno de outra
função, sem que haja qualquer ação posterior dentro da função chamadora.
Deste modo, o retorno da função chamada é também o retorno da função
chamadora.
</p>

<p>
Lua implementa <em>chamadas finais próprias</em>, de modo que a pilha de
chamadas nunca aumenta em uma sequência de chamadas, se todas as chamadas
forem finais. Isto tem uma grande utilidade em funções recursivas (diretas ou
indiretas).
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
function a()
    -- o retorno de b() é também o retorno de a()
    return b()
end
[% END %]

<p>
Com o surgimento de <a href="#varivel-fechvel">variáveis
fecháveis</a> na versão 5.4, o conceito de chamadas finais expandiu um pouco,
ao considerar que uma chamada final não pode estar no escopo de uma variável
fechável.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.4.10">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#3.4.10">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#3.4.9">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.5.8">5.1</a>
</p>

<h2 id="chamada-protegida">Chamada protegida</h2>

<p>
Como em outras linguagens de programação, por diferentes motivos, erros
podem ocorrer durante a execução do programa. Situações que culminam em um
erro variam, podendo se dever a uma operação com o tipo errado, por exemplo,
ou quando uma condição da função <code>assert()</code> não é atendida (o que
geralmente serve para prevenir erros lógicos).
</p>

<p>
Um erro interrompe a execução do programa, o que pode ou não ser
desejável. Quando não é (ou seja, quando o programa deve continuar a executar
mesmo quando ocorrerem erros), um tratamento deverá ser feito para o erro,
<em>capturando</em> o erro em uma chamada protegida.
</p>

<p>
Uma chamada protegida é uma chamada de função na qual o corpo da função é
executado até o final ou é interrompida no primeiro erro que ocorrer, e caso
haja um erro, ele não é propagado de modo a interromper o programa. Em vez
disso, essa chamada retorna <code>false</code> denotando que não houve
sucesso na execução, e uma <em>mensagem de erro</em> (que pode ser de
qualquer tipo), que determina o ponto em que houve erro e o motivo.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
local function recnum(n)
    return assert( tonumber(n),
        "O valor recebido (" 
            .. tostring(n)
            .. ") não é um número.")
end

local ok, err = pcall( function()
    total = recnum(42)              -- até aqui, ok
    total = total + recnum("abc")   -- ERRO (capturado)
end)

if ok then
    print("Valor retornado: " .. tostring(total))
else
    print("Ocorreu um erro:\n  " .. err)
end
[% END %]

<p>
Neste exemplo, a função <code>pcall()</code> é utilizada para estabelecer
um contexto protegido para a <a href="#funo-annima">função
anônima</a> que recebe, dentro da qual fatalmente um erro ocorrerá. A função
<code>xpcall()</code> poderia ser usada para o mesmo fim, embora essa seja um
pouco mais sofisticada pois recebe como parâmetro uma função para operar
sobre a mensagem de erro. Para além disso, também é possível executar
chamadas protegidas usando a função <code>lua_pcall()</code> da <a href=
"#api-c">API C</a>.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.3">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.3">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.3">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.7">5.1</a>
</p>

<h2 id="co-rotina">Co-rotina</h2>

<p>
Lua implementa um mecanismo de controle (co-rotina) que permite criar
distintos <a href="#fluxo-de-execuo">fluxos de execução</a>
independentes, cada qual dentro da própria pilha de chamadas, e esses fluxos
são colaborativos, no sentido de que transferem o controle da execução uns
para os outros, possivelmente passando e&#47;ou retornando parâmetros.
</p>

<p>
A transferência de controle é feita em duas vias, isto é, uma co-rotina
pode ser chamada por uma função que transfere o controle do programa para
ela, e pode ser suspensa por outra função, que devolve o controle para o
fluxo no qual foi chamada. Cabe notar que apenas uma co-rotina pode estar em
execução em um dado momento, isto é, não há o conceito de paralelismo entre
co-rotinas.
</p>

<p>
Ao residir em uma pilha de chamadas diferente, cada co-rotina mantem seu
próprio <a href="#estado-lua">estado</a>, e este estado é suspenso ou
retomado junto com a co-rotina, como se congelasse durante o período de
suspensão. Co-rotinas são representadas pelo tipo <em>thread</em>, que
representa um fluxo de execução independente.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
co = coroutine.create( function(x)
    -- devolver o controle para o contexto
    -- em que foi chamada:
    y = coroutine.yield(x+1)
    -- retornar (e encerrar essa co-rotina)
    return y * 2
end)

-- Chamar a co-rotina co passando um parâmetro numérico
a = coroutine.resume(co, 2) -- x = 2, a = 3
b = coroutine.resume(co, 8) -- y = 8, b = 16
[% END %]

<p>
Cabe dizer também que funções chamadas dentro da co-rotina também podem
devolver o controle para o fluxo anterior, e quando essa co-rotina for
acionada novamente, retomará a execução a partir da função interna que havia
feito essa devolução.
</p>

<p>
Co-rotinas são úteis para implementar geradores e varrer algumas
estruturas de dados, como árvores binárias, por exemplo, usando código enxuto
e elegante.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.6">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.6">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.6">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.11">5.1</a>
</p>

<h2 id="coletor-de-lixo">Coletor de lixo</h2>

<p>
A coleta de lixo é um termo usado para tratar sobre gerenciamento de
memória. À medida que a aplicação aloca valores em variáveis, esses valores
deverão constar em algum lugar na memória. Quando esses valores não são mais
necessários, eles precisam ser descartados, para que a memória utilizada seja
liberada para outros usos.
</p>

<p>
Há diferentes maneiras de lidar com essa liberação, e Lua utiliza um
mecanismo também bastante empregado em outras linguagens, que é conhecido
como <em>coletor de lixo</em>. Trata-se de uma rotina que automaticamente
detecta valores não mais necessários e libera a memória utilizada por
eles.
</p>

<p>
Valores são dados como descartáveis quando inacessíveis em Lua. Por
exemplo:
</p>

[% WRAPPER codigo.tt tipo = "lua" %]
t = {} -- tabela criada
t = nil
-- agora a tabela criada está inacessível e
-- será marcada para coleta
[% END %]

<p>
Cinco tipos de valores estão sujeitos a coleta de lixo: cadeias de
caracteres (<em>strings</em>), <a href="#tabela">tabelas</a>, funções,
<a href="#fluxo-de-execuo">fluxos de execução</a>
(<em>threads</em>) e <a href="#userdata">userdata</a> completo. Ou seja,
valores desses tipos podem ser coletados quando não mais acessíveis.
</p>

<p>
O coletor trabalha em <em>modo incremental</em> por padrão. Na versão 5.2,
um novo modo foi criado de forma experimental, o <em>modo geracional</em>,
que parte da premissa de que a maior parte dos objetos criados morre jovem,
isto é, permanece dentro de alcance por pouco tempo. Esse modo é útil para
aplicações que criam e descartam rapidamente muitos valores.
</p>

<p>
Na versão 5.3, o modo geracional (que ainda era experimental) foi
removido, porém na versão 5.4 ele foi disponibilizado novamente, já não mais
como experimento.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.5">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.5">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.5">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.10">5.1</a>
</p>

<h2 id="compilao-lua">Compilação Lua</h2>

<p>
Falar em compilação em Lua pode causar alguma confusão. Afinal, ao menos
na <a href="#distribuio-padro">distribuição padrão</a> (mas
também em várias outras implementações) sabe-se que o código Lua é
interpretado. O que ocorre é que o termo <em>compilação</em> assume um
significado um pouco diferente neste caso.
</p>

<p>
Ao falar em compilar <a href="#trecho">trechos</a> de código Lua, fala-se
em converter o código Lua para o formato <em>bytecode</em>, um formato
intermediário, binário, que será lido pela <a href=
"#mquina-virtual">máquina virtual Lua</a>. Não se trata, portanto, de
um processo que ao final gera código de máquina, como seria em C, por
exemplo.
</p>

<p>
Tanto o programa de linha de comando <code>luac</code> quanto a função Lua
<code>string.dump()</code> realizam a conversão de código Lua (portanto em
formato textual) para <em>bytecode</em> (binário). A vantagem em pré-compilar
o código Lua resume-se a três fatores:
</p>

<ol>
  <li>Carregar código pré-compilado ganha algum tempo (embora o tempo de
  execução não tenha ganhos em função disso);</li>

  <li>Proteger o código de alterações acidentais;</li>

  <li>Identificar possíveis erros de sintaxe no código, evitando que eles
  sejam disparados durante a execução do programa.</li>
</ol>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
local bc = string.dump ( function() print("olá") end )
-- bc agora guarda código Lua em bytecode
-- (uma função que apenas exibe "olá")

local f = load(bc) -- a função load carrega o código
                   -- bytecode novamente, e devolve
                   -- uma função, guardada em f
f() --> olá
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.3.2">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#3.3.2">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#3.3.2">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.4.1">5.1</a>
</p>

<h2 id="constante">Constante</h2>

<p>
Uma constante é simplesmente uma variável que não pode ser alterada após
sua inicialização, até que saia de escopo. Tenha em mente que não inicializar
uma constante significa, na prática, inicializá-la com <code>nil</code>, e
não será possível atribuir nenhum valor posteriormente.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
local a <const> = 3 -- a é uma constante
-- a = 4 --> ERRO (a não pode mudar)
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.3.7">5.4</a>
</p>

<h2 id="depurao">Depuração</h2>

<p>
Programar sempre envolve o risco de criar programas que não funcionam ou
apresentam comportamento inesperado. Quando isso acontece, o programa deve
ser inspecionado para que se identifique quais partes dele são responsáveis
pelos erros apresentados. Em muitos ambientes de desenvolvimento é comum o
uso de ferramentas conhecidas como depuradores.
</p>

<p>
Depuradores são úteis para inspecionar as entranhas do programa enquanto
ele é executado, observando o que ocorre internamente (quais variáveis são
declaradas, em que momento, e com quais valores, quais funções estão sendo
executadas, etc.), semelhante a uma biópsia, na qual o organismo examinado
está vivo.
</p>

<p>
Lua não oferece um depurador, propriamente, mas possui uma interface de
depuração composta por diversas funções e tipos que permitem construir
depuradores personalizados para cada aplicação. Essa interface tanto é
acessível pela <a href="#api-c">API C</a> quanto pelo <a href=
"#mdulo">módulo</a> <code>debug</code> da <a href=
"#biblioteca-padro">biblioteca padrão</a>, o qual por sua vez utiliza a
API C.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#4.9">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#4.9">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#4.9">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#3.8">5.1</a>
</p>

<h2 id="distribuio-padro">Distribuição padrão</h2>

<p>
Lua é software livre (licença MIT), e como tal ele pode ser modificado e
redistribuído, respeitada a sua licença. Devido ao sucesso que fez como
linguagem embarcada em diversas plataformas, várias versões modificadas foram
criadas e redistribuídas.
</p>

<p>
Porém há uma versão &#8220;oficial&#8221;, a distribuição feita pela PUC
Rio, cujas versões estão disponíveis <a href=
"http://www.lua.org/versions.html">neste endereço</a>. Os pacotes
distribuídos incluem a documentação e todo o código-fonte necessário para
compilar a biblioteca Lua, toda a sua <a href=
"#biblioteca-padro">biblioteca padrão</a> e o <a href=
"#interpretador-lua">interpretador Lua</a>.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#1">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#1">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#1">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#1">5.1</a>
</p>

<h2 id="ephemeron"><em>Ephemeron</em></h2>

<p>
O conceito de <em>ephemeron</em> está relacionado a ambientes de
desenvolvimento com <a href="#coletor-de-lixo">coleta de lixo</a>, como Lua,
nos quais é possível definir pares de chave-valor com uma referência fraca na
chave (o que em Lua é possível com o uso de <a href="#tabela-fraca">tabelas
fracas</a>).
</p>

<p>
Um <em>ephemeron</em> é uma estrutura de dados útil em sistemas desse
tipo. Ele é caracterizado por uma relação entre chaves e valores na qual a
chave pode ser marcada para coleta de lixo, ainda que o valor correspondente
a essa chave faça alguma referência a ela.
</p>

<p>
Cabe lembrar, se houver referências fortes a um objeto, ele não pode ser
recolhido. Nesse sentido, a referência de um valor para a chave
correspondente é tratado como uma referência fraca em Lua. E isso faz com que
tabelas fracas em Lua, cuja fraqueza da relação é dada pela chave sejam, para
todos os efeitos, um <em>ephemeron</em>.
</p>

<p>
Um <em>ephemeron</em> pode ser usado para associar objetos a um grupo de
propriedades, de modo que quando o objeto é recolhido, suas propriedades
também são. Também é útil para trabalhar o conceito de atributos privados no
paradigma de orientação a objetos, por exemplo.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.4.5">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.5.2">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.5.2">5.2</a>
</p>

<h2 id="escopo-lxico">Escopo léxico</h2>

<p>
Esta é uma das características mais importantes da linguagem Lua.
O termo <em>escopo léxico</em> refere-se ao fato de que
<a href="#varivel-local">variáveis locais</a> são acessíveis ao longo
de todo o <a href="#bloco">bloco</a> onde são declaradas (a partir do
ponto em que foram declaradas), e isto inclui blocos internos, como o
corpo de funções.
</p>

<p>
Deste modo, é possível acessar a partir do corpo de uma função uma
variável definida fora dessa função, desde que seja uma
<a href="#varivel-local-externa">variável local externa</a>. Isto
fará com que essa variável seja lida pela função, mesmo quando a
função for chamada em um contexto diferente, no qual a referida
variável não esteja acessível.
</p>

<p>
O escopo léxico, associado a uma outra característica importante, os
<a href="#valores-de-primeira-classe">valores de primeira classe</a>, também
presente em Lua, é o que permite que se construam <a href="#fecho">fechos</a>
nesta linguagem.
</p>

<p>
É importante notar também que essas regras dizem respeito à
<em>ocultação</em> de variáveis, quando duas variáveis distintas possuem o
mesmo nome, o local de onde forem acessadas interferirá no acesso, pois será
priorizada aquela que estiver no bloco mais interno.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
local x = 1
do -- novo bloco mais interno

    local x = 2 -- nova variável local, oculta a anterior
    print(x) --> 2

end -- a variável x interna deixa de existir a partir daqui
print(x) --> 1
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.5">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#3.5">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#3.5">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.6">5.1</a>
</p>

<h2 id="estado-lua">Estado Lua</h2>

<p>
Podemos imaginar um estado Lua como uma área virtual opaca (isto é, à qual
não temos acesso diretamente), na qual residirão todas as variáveis Lua.
Somente é possível acessar essas variáveis por meio da <a href="#api-c">API
C</a>, com o auxílio de uma <a href="#pilha-virtual">pilha virtual</a>.
</p>

<p>
Um estado Lua é composto por um ou mais <a href=
"#fluxo-de-execuo">fluxos de execução</a> (por padrão, apenas um,
embora novos fluxos possam ser criados para um estado posteriormente ao
primeiro).
</p>

<p>
Um <a href="#programa-hospedeiro">programa hospedeiro</a> pode trabalhar
com mais de um estado, e neste caso cada estado terá sua própria pilha
virtual para realizar a interface com o hospedeiro.
</p>

<p>
Os estados são representados em C pelo tipo <code>lua_State</code>. Embora
esse tipo seja na realidade um ponteiro para um fluxo de execução (no caso, o
fluxo em atividade para um estado), na prática ele faz referência a todo o
estado do qual o fluxo faz parte.
</p>

<p>
O trecho de código C a seguir mostra a criação e encerramento de um estado
Lua:
</p>

[% WRAPPER codigo.tt tipo = "c" %]
/* Criar novo estado Lua */
lua_State *L = luaL_newstate();

/* realizar operações com o estado criado */

/* Encerrar estado
   (ficará inacessível e memória será liberada) */
lua_close(L);
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#lua_State">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#lua_State">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#lua_State">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#lua_State">5.1</a>
</p>

<h2 id="fecho">Fecho</h2>

<p>
Lua possui uma interessante combinação:
<a href="#escopo-lxico">escopo léxico</a> e
<a href="#valores-de-primeira-classe">valores de primeira classe</a>.
Isto abre espaço para uma estrutura conhecida como fecho
(também usualmente chamada de <em>clausura</em>). Trata-se de
uma combinação entre funções e valores guardados em
<a href="#varivel-local-externa">variáveis locais externas</a>,
de modo que após sair de escopo essas variáveis só podem ser
acessadas pela função e não mais diretamente.
</p>

<p>
Fechos são sempre funções retornadas por outras funções, possuindo dentro
de sua lógica acessos (seja de leitura ou de escrita) a variáveis externas
locais existentes no contexto da função mais externa, isto é, a função que
cria o fecho. Vejamos um exemplo:
</p>

[% WRAPPER codigo.tt tipo = "lua" %]
local function cria_contador(x)
    -- como x é um parâmetro formal, ele é também uma
    -- variável local
    x = x or 0
    return function()
        -- para esta função interna, x é uma variável
        -- local externa (upvalue)
        x = x + 1
        return x
    end
end

c1 = cria_contador()
c2 = cria_contador(10)

print(c1()) --> 1
print(c1()) --> 2
print(c1()) --> 3

print(c2()) --> 11
print(c2()) --> 12
[% END %]

<p>
Note no exemplo acima que dois contadores independentes são criados e cada
um possui seu próprio valor para <code>x</code>, isto é, cada um mantém seu
próprio estado. Note também que esse valor é incrementado a cada chamada,
portanto o estado é persistido entre chamadas.
</p>

<p>
E além disso, outra observação importante é que o que a função mais
externa (<code>cria_contador()</code>) retorna não é o retorno da função mais
interna, mas sim a própria definição da função, ou seja, a função
propriamente. Isto é o que permite que a função interna seja chamada
posteriormente, tantas vezes quanto se julgar apropriado.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.5">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#3.5">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#3.5">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.6">5.1</a>
</p>

<h2 id="finalizador">Finalizador</h2>

<p>
Um finalizador é um <a href="#metamtodo">metamétodo</a> que é
chamado quando o objeto associado é marcado para
<a href="#coletor-de-lixo">coleta de lixo</a>. Isso é útil para fechar
arquivos, conexões de rede ou outros recursos utilizados por ele.
No caso de valores <a href="#userdata">userdata</a> isto pode ser usado
inclusive para realizar a pŕopria liberação da memória utilizada.
</p>

<p>
Para criar um finalizador, deve-se criar uma
<a href="#metatabela">metatabela</a> com o campo <code>__gc</code>,
que guardará o finalizador, e então associar essa metatabela ao
valor que estará sujeito à coleta. Por exemplo:
</p>

[% WRAPPER codigo.tt tipo = "lua" %]
t = {
    arquivo = io.tmpfile() -- arquivo aberto
}
mt = {
    __gc = function(a)
        -- antes da coleta, fechar o arquivo
        a.arquivo:close()
    end
}
setmetatable(t,mt)
[% END %]

<p>
No exemplo acima, a tabela <code>t</code> possui um campo
<code>arquivo</code> que aponta para um arquivo temporário aberto. Para
evitar que o arquivo permaneça aberto por mais tempo que o necessário, essa
tabela é vinculada a uma metatabela que implementa o metamétodo
<code>__gc()</code>, no qual o arquivo apontado pelo campo
<code>arquivo</code> será fechado antes da coleta.
</p>

<p>
Cabe frisar que na versão 5.1, o conceito de finalizador só se aplica a
valores do tipo <em>userdata</em>. Somente a partir da versão 5.2 ele também
pode ser usado em tabelas.
</p>

<p>
Além disso, a partir da versão 5.4 existe uma nova forma de implementar
finalizadores, que é fazendo uso de <a href=
"#varivel-fechvel">variáveis fecháveis</a>, e seu metamétodo
<code>__close</code>. Isto aumenta o controle sobre o processo de
finalização, pois esse metamétodo é chamado no exato momento em que a
variável sai de escopo.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.5.1">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.5.1">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.5.1">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.10.1">5.1</a>
</p>

<h2 id="fluxo-de-execuo">Fluxo de execução</h2>

<p>
Um fluxo de execução em Lua é denotado pelo tipo <em>thread</em>. O nome
<em>thread</em> pode causar alguma confusão com o conceito de
<em>threads</em> do sistema operacional. Não se trata disso. O tipo
<em>thread</em> em Lua é usado para implementar as <a href=
"#co-rotina">co-rotinas</a>, e a sua suspensão é controlada explicitamente
com uma chamada de função realizada de dentro da co-rotina.
</p>

<p>
A criação e manipulação de valores do tipo <em>thread</em> é realizada por
meio de funções da <a href="#biblioteca-padro">biblioteca padrão</a>
(no <a href="#mdulo">módulo</a> <code>coroutine</code>). Por
exemplo:
</p>

[% WRAPPER codigo.tt tipo = "lua" %]
co = coroutine.create(function(n)
    while true do
        coroutine.yield(n)
        n = n + 1
    end
end)

print(co) --> thread: 0x558c08cab0e8
          --  (ou qualquer outra identificação de
          --  fluxo, varia com a execução)

coroutine.status(co) --> suspended
coroutine.close(co)
coroutine.status(co) --> dead
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.1">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.1">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.1">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.2">5.1</a>
</p>

<h2 id="funo-annima">Função anônima</h2>

<p>
Em muitas linguagens de programação, o uso de funções depende de um nome
atribuído à função. Nessas linguagens, funções são valores de segunda classe,
ou seja, não podem ser guardados em variáveis, passados como argumentos de
outras funções, ou retornados de outras funções.
</p>

<p>
Enquanto valores de segunda classe, as funções só podem ser acessadas pelo
seu nome. Em Lua, no entanto, funções são <a href=
"#valores-de-primeira-classe">valores de primeira classe</a>, e por isso
podem ser acessadas de outros modos.
</p>

<p>Por exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
function f()
    return function()
        print "Olá"
    end
end

-- acessando diretamente o retorno de f()
(f())()   --> Olá

-- salvando em uma variável auxiliar
g = f()
g()       --> Olá
[% END %]

<p>
Veja que a função interna sequer possui um nome. Mas ela é retornada pela
função <code>f</code>, e pode ser chamada, tanto diretamente como resultado
da chamada a <code>f</code>, ou sendo atribuída primeiro a uma outra variável
auxiliar (neste caso, <code>g</code>) para então ser chamada.
</p>

<p>
Isto pode levar a crer que a primeira função, <code>f</code> possui um
nome, e a segunda (atribuída a <code>g</code>) não possui. Mas não. Na
realidade, o nome <code>f</code> neste caso é apenas uma variável chamada
<code>f</code> que guarda uma função.
</p>

<p>
Portanto, na prática toda função em Lua é anônima (ao menos enquanto
considerarmos que um nome de função é um símbolo indissociável dessa função).
Por meio de <a href="#acar-sinttico">açúcar sintático</a>
definimos funções como se elas tivessem um nome, porém na prática as duas
definições a seguir possuem o mesmo efeito:
</p>

[% WRAPPER codigo.tt tipo = "lua" %]
-- com açúcar sintático
function f(t) return t end

-- sem açúcar sintático
f = function(t) return t end
[% END %]

<p>
Nos dois casos acima, <code>f</code> possui o mesmo valor (uma função que
retorna seu primeiro argumento).
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.4.11">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#3.4.11">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#3.4.10">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.5.9">5.1</a>
</p>

<h2 id="interpretador-lua">Interpretador Lua</h2>

<p>
A <a href="#distribuio-padro">distribuição padrão</a> de
Lua inclui um programa chamado <code>lua</code>. Trata-se de um <a href=
"#programa-hospedeiro">programa hospedeiro</a> escrito em C, que usa a
<a href="#api-c">API C</a> de Lua para executar código Lua, tanto
interativamente quanto em lote (comandos lidos de um ou mais arquivos-fonte
Lua).
</p>

<p>
Este programa é usualmente referido como o <em>interpretador Lua</em>, ou
apenas <code>lua</code> (com a inicial em minúscula mesmo). Ele é muito usado
para testar e depurar programas, mas também para executar programas Lua
auto-suficientes, ou seja, programas cuja lógica principal está implementada
em código Lua.
</p>

<p>
Por padrão, o interpretador disponibiliza toda <a href=
"#biblioteca-padro">biblioteca padrão</a>, tanto para uso interativo,
como para execução de programas em lote.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#7">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#7">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#7">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#6">5.1</a>
</p>

<h2 id="mquina-virtual">Máquina virtual</h2>

<p>
Na <a href="#distribuio-padro">distribuição padrão</a>,
a biblioteca Lua interpreta o código Lua, num processo de duas etapas.
Primeiro o código em formato texto é convertido para <em>bytecode</em>, um
formato binário que contempla instruções básicas para uma máquina virtual.
Esse primeiro passo é chamado de <a href=
"#compilao-lua">compilação</a> na terminologia de Lua.
</p>

<p>
Feito isso, as instruções presentes no código em <em>bytecode</em> são
executadas pela máquina virtual, o que envolve traduzir essas operações para
código de máquina e então efetivamente executar as instruções geradas.
</p>

<p>
Dado que o termo &#8220;máquina virtual&#8221; pode assumir significados
diferentes, cabe aqui destacar que não se trata de uma emulação de um sistema
operacional ou mesmo de uma camada de conteinerização, e sim de uma máquina
virtual de processo (no caso, do <a href="#programa-hospedeiro">programa
hospedeiro</a>), que é criada pelo processo e encerrada junto com ele.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.3.2">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#3.3.2">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#3.3.2">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.4.1">5.1</a>
</p>

<h2 id="metamtodo">Metamétodo</h2>

<p>
Um metamétodo é um campo de uma <a href="#metatabela">metatabela</a> que
possui como propriedade a capacidade de ser <em>chamado</em> (como uma
função). Isso se aplica não apenas a funções (que podem ser campos de uma
tabela) mas também a qualquer valor que tenha sido alterado usando
metamétodos para poder ser chamado como se fosse uma função.
</p>

<p>Parece confuso? Vejamos um exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
mt = {
    -- metamétodo __call determina o que fazer se
    -- o valor for chamado como uma função.
    __call = function(c) print(c) end

    -- Neste caso, apenas exibe o valor chamado (c)
    -- na tela, usando print.
}
t = {}
setmetatable(t,mt) -- t possui a metatabela mt
t() --> table: 0x55ac4262aca0
    --  (ou qualquer outra identificação de
    --  tabela, varia com a execução)
[% END %]

<p>
Neste exemplo, usamos o metamétodo <code>__call</code> que será chamado
toda vez que o valor vinculado à metatabela <code>mt</code> (portanto
<code>t</code> neste caso) for chamado como se fosse uma função. Embora não
seja função, pode ser chamado pois possui este metamétodo.
</p>

<p>
Existem outros metamétodos especiais, que podem ser usados para alterar o
comportamento de um valor, permitindo que ele seja, por exemplo, usado em
operações aritméticas sem ser um número, concatenado sem ser textual ou
implementar associações sem ser uma tabela, por exemplo.
</p>

<p>
Perceba, portanto que um metamétodo não precisa ser uma função, pois pode
ser qualquer valor associado a uma metatabela com um metamétodo
<code>__call</code>.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.4">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.4">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.4">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.8">5.1</a>
</p>

<h2 id="metatabela">Metatabela</h2>

<p>
Todo valor em Lua pode ter alguns metadados associados, armazenados em uma
<a href="#tabela">tabela</a>, convencionalmente chamada de metatabela.
Valores diferentes (inclusive de tipos diferentes, embora não seja comum)
podem compartilhar uma mesma metatabela.
</p>

<p>
Por outro lado, para um valor qualquer que seja, só é possível associar
uma única metatabela, isto é, não é possível associar um valor a duas ou mais
metatabelas. Além disso, em código Lua só é possível configurar metatabelas
para tabelas. Para os demais tipos, só é possível fazer associação com uma
metatabela via <a href="#api-c">API C</a> ou usando a biblioteca de <a href=
"#depurao">depuração</a>.
</p>

<p>
Metatabelas podem ser usadas para reconfigurar o comportamento do valor
associado, como definir o que será feito quando ele for usado em uma operação
de adição, chamada ou conversão para texto, apenas para citar alguns. Isto é
feito com o uso de <em>metavalores</em> (valores da metatabela). Metavalores
que podem ser chamados (no sentido de chamada de função) são conhecidos como
<a href="#metamtodo">metamétodos</a>.
</p>

<p>
Para além disso, em tabelas e valores do tipo <a href=
"#userdata">userdata</a>, metatabelas são úteis para diferenciar esses
valores como um tipo específico.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
local cor = {} -- metatabela de cores
local azul = { vermelho = 0, verde = 0, azul = 255 }

setmetatable(azul, cor) -- associação feita
                        -- (tabela azul possui metatabela cor)
-- ...

-- verificar se azul possui metatabela cor
if getmetatable(azul) == cor then
    -- realiza operações com a variável azul, que são
    -- específicas para tabelas do tipo "cor"
end
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.4">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.4">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.4">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.8">5.1</a>
</p>

<h2 id="mdulo">Módulo</h2>

<p>
Não é incomum que programadores se preocupem em reutilizar código, isto é,
reaproveitar trabalhos feitos anteriormente (inclusive por terceiros) para
evitar ter que reescrever o mesmo código a cada projeto. Para isto, é preciso
organizar o código em módulos que possam ser importados para cada
projeto.
</p>

<p>
Lua oferece suporte a módulos, baseado em um mecanismo bastante simples,
porém efetivo. Cada módulo é representado por uma <a href=
"#tabela">tabela</a>, que poderá ter submódulos (outras tabelas). Como uma
tabela já é por si só um espaço de nomes, os nomes utilizados em um módulo
não entram em conflito com nomes utilizados em outros módulos.
</p>

<p>
Módulos podem ser implementados em Lua ou em outras linguagens e
disponibilizados via <a href="#api-c">API C</a>. Lua suporta ligação dinâmica
em sistemas nos quais esse recurso é suportado, portanto é possível criar
módulos e distribuí-los como bibliotecas compartilhadas.
</p>

<p>
Módulos Lua tipicamente são escritos em um arquivo-fonte separado (ou
conjunto de arquivos, quando há submódulos). Como um arquivo-fonte representa
um <a href="#trecho">trecho</a>, ele é tratado como uma função, e portanto um
comando de retorno ao final deve retornar a tabela representativa do
módulo.
</p>

<p>
A <a href="#biblioteca-padro">biblioteca padrão</a> possui a função
<code>require()</code>, que é usada para importar módulos em um programa Lua.
Ela realiza a pesquisa em um conjunto de diretórios pré-definidos (o que pode
ser configurado) por arquivos que correspondam ao nome do módulo, e devolve
uma tabela retornada pelo arquivo.
</p>

<p>
Cabe destacar uma incompatibilidade entre versões nesse quesito: a versão
5.1 adicionou a função <code>module()</code> à biblioteca padrão como recurso
para criação de novos módulos. Porém se constatou posteriormente que esse
recurso era supérfluo para a linguagem, e na versão 5.2 ele <a href=
"https://www.lua.org/manual/5.2/pt/manual.html#8.2">caiu em depreciação</a>,
sendo depois removido na versão 5.3.
</p>

<p>
É possível criar módulos compatíveis com todas as versões recentes, ao
evitar o uso da função <code>module()</code>. Por exemplo:
</p>

[% WRAPPER codigo.tt tipo = "lua" %]
-- arquivo-fonte imc.lua

local _M = {
    imc = function(peso, altura)
        return peso / altura ^ 2
    end
}

return _M -- módulo retornado
[% END %]

<p>
O exemplo acima demonstra um módulo simplório que possui apenas uma
função. A função <code>require()</code> pode ser usada para importá-lo e
utilizar a função.
</p>

[% WRAPPER codigo.tt tipo = "lua" %]
local imc = require "imc" -- módulo importado e guardado
                          -- na tabela local "imc"

print(imc.imc(68, 1.72)) --> 22.985397512169
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#6.3">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#6.3">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#6.3">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#5.3">5.1</a>
</p>

<h2 id="pilha-virtual">Pilha virtual</h2>

<p>
Uma pilha virtual (no contexto de Lua) é uma estrutura que permite o
intercâmbio de valores entre o <a href="#programa-hospedeiro">programa
hospedeiro</a> e um <a href="#estado-lua">estado Lua</a>. Ela é criada junto
com o estado correspondente e ajuda a contornar dois problemas básicos:
</p>

<ol>
  <li>C e Lua possuem sistemas de tipos diferentes, portanto é preciso
  estabelecer um mecanismo pelo qual os tipos Lua possam ser referidos em
  código C, e vice-versa;</li>

  <li>C e Lua possuem estratégias diferentes para o gerenciamento de memória:
  enquanto em C o gerenciamento é manual, em Lua, é automático, por meio do
  <a href="#coletor-de-lixo">coletor de lixo</a>.
  </li>
</ol>

<p>
Como qualquer estrutura de pilha, guarda novos valores no topo, e também
remove valores a partir do topo. Essa regra é seguida à risca pelo código
Lua, entretanto o programa hospedeiro também pode realizar acessos a partir
da base da pilha.
</p>

<p>
Cada elemento da pilha possui um índice que o identifica. Índices
positivos começam a partir da base, ou seja, o índice 1 corresponde ao item
mais ao fundo da pilha, o índice 2 corresponde ao item logo acima deste, e
assim por diante. Índices negativos fazem o acesso reverso, isto é, a partir
do topo, de modo que o item -1 será o item mais ao topo da pilha, -2 logo
abaixo deste, e assim por diante.
</p>

<p>
O trecho de código C a seguir mostra alguns exemplos de inserção e remoção
de valores em uma pilha virtual usando a <a href="#api-c">API C</a>:
</p>

[% WRAPPER codigo.tt tipo = "c" %]

/* Criar novo estado (e sua pilha virtual junto) */
lua_State *L = luaL_newstate();

/* Inserir inteiro (42) na pilha */
lua_pushinteger(L, 42);
/* Tamanho da pilha: 1,
   L[1] = L[-1] = 42 */

/* Inserir booleano (true) na pilha */
lua_pushboolean(L, 1);
/* Tamanho da pilha: 2,
   L[2] = L[-1] = true
   L[1] = L[-2] = 42 */

/* Remover o item mais ao topo (true) */
lua_remove(L, -1);
/* Tamanho da pilha: 1,
   L[1] = L[-1] = 42 */

lua_close(L);
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#4.1">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#4.1">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#4.1">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#3.1">5.1</a>
</p>

<h2 id="programa-hospedeiro">Programa hospedeiro</h2>

<p>
Em Lua, não há o conceito de função principal, como há em C. Em vez disso,
todo o código Lua é chamado por um programa hospedeiro, escrito em outra
linguagem (geralmente C ou C++), tendo em vista que Lua é uma biblioteca
usada por esse programa hospedeiro.
</p>

<p>
Por meio da <a href="#api-c">API C</a>, o programa hospedeiro interage com
o código Lua, seja lendo variáveis definidas no contexto Lua, modificando o
valor dessas variáveis, chamando funções Lua, registrando funções C que podem
ser chamadas em Lua ou criando novos tipos <a href=
"#userdata">userdata</a>.
</p>

<p>
Deste modo, o programa Lua estará sempre subordinado ao programa
hospedeiro, ainda que a funcionalidade principal do programa esteja
implementada no código Lua. Muitas das vezes, o programa hospedeiro é o
próprio <a href="#interpretador-lua">interpretador Lua</a>.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#1">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#1">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#1">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#1">5.1</a>
</p>

<h2 id="tabela">Tabela</h2>

<p>
Uma tabela é um tipo de valor altamente versátil, que implementa vetores
associativos, nos quais o índice pode ser não apenas numérico, mas também de
outros tipos, como cadeias de caracteres, <em>booleanos</em>, e até mesmo
funções, assim como podem também armazenar valores de diferentes tipos. Isso
permite que tabelas sejam usadas para implementar diversas estruturas de
dados.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
t      = {} -- construção da tabela, guardada em t
t[1]   = 1  -- indexação de valor na tabela
t[2]   = 2 
t["a"] = 10 -- índice não numérico (string)
[% END %]

<p>
Existe um <a href="#acar-sinttico">açúcar sintático</a>
para o acesso a índices textuais em tabelas.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
t = { a = 10 } -- tabela criada com o campo "a" = 10
print(t["a"] == t.a) --> true
[% END %]

<p>
Tabelas são consideradas objetos, portanto são estruturas mutáveis e são
sempre acessadas por referência, isto é, nunca são duplicadas quando uma nova
variável aponta para elas, apenas referenciadas. Quando não há mais nenhuma
referência a uma tabela, ela será recolhida em algum momento pelo <a href=
"#coletor-de-lixo">coletor de lixo</a>.
</p>

<p>
Para além disso, tabelas podem ter seu comportamento estendido por meio de
<a href="#metatabela">metatabelas</a> e <a href=
"#metamtodo">metamétodos</a>. Isto permite, entre outras coisas, que
tabelas sejam usadas para implementar o paradigma de orientação a
objetos.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.1">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.1">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.1">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.2">5.1</a>
</p>

<h2 id="tabela-fraca">Tabela fraca</h2>

<p>
Uma tabela fraca é uma <a href="#tabela">tabela</a> na qual seus elementos
serão marcados para <a href="#coletor-de-lixo">coleta de lixo</a> se eles só
forem referenciados por esta tabela. Existem 3 modalidades de tabela
fraca:
</p>

<ul>
  <li><em>Chaves fracas</em>: nesta modalidade, apenas as chaves precisam
  estar referenciadas fora da tabela para que não sejam coletadas, isto é,
  para os valores não haverá risco de coleta mesmo que só sejam referenciados
  nesta tabela;</li>

  <li><em>Valores fracos</em>: a situação é semelhante à das chaves fracas,
  porém neste caso são os valores que serão coletados, se não houver outras
  referências;</li>

  <li><em>Chaves e valores fracos</em>: neste caso, tanto as chaves como os
  valores serão coletados, se não houver outras referências além da
  tabela.</li>
</ul>

<p>
Para qualquer um dos modos, se houver a coleta da chave ou do valor, o par
será removido da tabela, pois não haverá mais associação a ser feita. Vale
lembrar que nem todos os tipos em Lua são sujeitos à coleta de lixo. Portanto
valores como números e booleanos, por exemplo, permanecem intactos em uma
tabela fraca.
</p>

<p>
Uma tabela se torna uma tabela fraca a partir do momento em que lhe é
atribuída uma <a href="#metatabela">metatabela</a> com o campo
<code>__mode</code>, cujo valor deverá ser <code>"k"</code> para chaves
fracas, <code>"v"</code> para valores fracos ou <code>"kv"</code> para que
tanto as chaves quanto os valores sejam fracos.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
local cores = {}
setmetatable(cores, { __mode = "v" })

local azul = { r = 0, g = 0, b = 255 }
cores.azul = azul
azul = nil -- cores.azul será marcado para coleta
           -- pois a referência externa a essa tabela
           -- não existe mais.
[% END %]

<p>
Tabelas fracas podem ser usadas para implementar um <a href=
"#ephemeron"><em>ephemeron</em></a>, ao utilizar chaves fracas (isto é, para
<code>__mode = "k"</code>).
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.5.2">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.5.2">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.5.2">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.10.2">5.1</a>
</p>

<h2 id="trecho">Trecho</h2>

<p>
Sintaticamente, um trecho (<em>chunk</em>, na nomenclatura original, em
inglês), é idêntico a um <a href="#bloco">bloco</a>, ou seja, ele é formado
por uma sequência de comandos. Do ponto de vista do interpretador
<code>lua</code>, um trecho é uma <a href="#funo-annima">função anônima</a>,
que pode receber parâmetros e também retornar valores.
</p>

<p>
Um trecho é uma unidade de <a href=
"#compilao-lua">compilação</a>, isto é, os comandos que fazem
parte de um trecho são compilados em conjunto para <em>bytecode</em>
(instruções para a <a href="#mquina-virtual">máquina virtual Lua</a>,
em formato binário). Ele pode ser armazenado na forma de texto ou
<em>bytecode</em> em arquivos ou em variáveis do programa hospedeiro.
</p>

<p>
Há uma diferença significativa entre trechos na versão 5.1 e nas demais
versões, que diz respeito ao conceito de <a href="#ambiente">ambientes</a>, o
qual mudou a partir da versão 5.2. A partir dessa versão, todo trecho possui
como <a href="#varivel-local-externa">variável local externa</a> a
tabela <code>_ENV</code>.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.3.2">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#3.3.2">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#3.3.2">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.4.1">5.1</a>
</p>

<h2 id="userdata">Userdata</h2>

<p>
O tipo <em>userdata</em> é responsável por grande parte da extensibilidade
da linguagem Lua, pois ele pode ser usado para definir novos tipos
personalizados usando a <a href="#api-c">API C</a>. Esse tipo não pode
especificado ou alterado em código Lua, apenas no <a href=
"#programa-hospedeiro">programa hospedeiro</a>. Em Lua, cabe apenas criar ou
comparar valores desse tipo (as duas únicas operações disponíveis).
</p>

<p>
Em essência, um <em>userdata</em> nada mais é que um bloco de memória. Ele
pode ou não ser gerenciado automaticamente, e portanto há uma distinção entre
duas formas de <em>userdata</em>:
</p>

<ul>
  <li>
    <em>userdata leve</em>: é apenas um ponteiro para um bloco de memória
    gerenciado pelo programa hospedeiro, isto é, não é criado em Lua e não
    está sujeito à <a href="#coletor-de-lixo">coleta de lixo</a>;
  </li>

  <li><em>userdata completo</em>: um bloco de memória gerenciado em Lua,
  portanto está sujeito à coleta de lixo.</li>
</ul>

<p>
Valores <em>userdata</em> completos podem possuir <a href=
"#metatabela">metatabelas</a>, porém ao contrário do que ocorre com <a href=
"#tabela">tabelas</a>, a associação de um <em>userdata</em> com uma
metatabela só pode ser feita no programa hospedeiro, ou seja, não é possível
associar uma metatabela a um <em>userdata</em> usando a função
<code>setmetatable()</code> em Lua.
</p>

<p>
O uso de metatabelas neste caso permite que mais operações (além de criar
e comparar) sejam especificadas para um determinado tipo <em>userdata</em>
completo, bem como permite que <a href="#finalizador">finalizadores</a>
também sejam especificados para o tipo em questão.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.1">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.1">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.1">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.2">5.1</a>
</p>

<h2 id="valores-de-primeira-classe">Valores de primeira classe</h2>

<p>
Em Lua, todos os oito tipos de dados podem ser armazenados em variáveis,
passados como argumentos para uma função ou retornados como resultado de uma
função. Neste caso é dito que eles são valores de primeira classe.
</p>

<p>
Dentre os oito tipos, talvez chame mais atenção o fato de as funções serem
também tratadas desta maneira. Isto abre possibilidades interessantes para a
linguagem, como os <a href="#metamtodo">metamétodos</a> e a construção
de <a href="#fecho">fechos</a> (tendo em vista que a linguagem também possui
regras de <a href="#escopo-lxico">escopo léxico</a>.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#2.1">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#2.1">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#2.1">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.2">5.1</a>
</p>

<h2 id="varivel-fechvel">Variável fechável</h2>

<p>
Uma variável fechável funciona como uma <a href=
"#constante">constante</a>, ou seja, uma vez declarada, ela não pode ter seu
valor alterado até sair de escopo. A diferença em relação a constantes
normais é que esse tipo de constante deve possuir um <a href=
"#metamtodo">metamétodo</a> <code>__close</code>, que será chamado
quando essa variável sair de escopo.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
local t = {}
local mt = {
    __close = function() print "Fechado" end,
}
setmetatable(t, mt)

local a <close> = t -- a é uma constante fechável

-- a = {} --> ERRO (a não pode mudar)

-- Ao encerrar este bloco, t sai de escopo e seu
-- metamétodo __close() é chamado, exibindo a
-- mensagem "Fechado".
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.3.8">5.4</a>
</p>

<h2 id="varivel-global">Variável global</h2>

<p>
Em Lua, uma variável global é um campo da <a href="#tabela">tabela</a> que
representa o <a href="#ambiente">ambiente</a> vigente, ou seja, da tabela
<code>_ENV</code> (a partir da versão 5.2) ou da tabela retornada por
<a href="https://www.lua.org/manual/5.1/pt/manual.html#pdf-getfenv">
<code>getfenv()</code></a> até a versão 5.1.
</p>

<p>
Toda referência a uma variável global se traduz para o acesso à tabela do
ambiente atual (o que significa que na prática toda variável global é um
campo de uma tabela).
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
varg = 1 -- variável global criada
print(varg == _ENV.varg) --> true
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.2">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#3.2">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#3.2">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.3">5.1</a>
</p>

<h2 id="varivel-local">Variável local</h2>

<p>
Variáveis locais são aquelas que seguem as regras de <a href=
"escopo-lxico">escopo léxico</a>, e portanto são acessíveis apenas
dentro do <a href="#bloco">bloco</a> em que foram criadas e blocos internos a
este. Uma variável, ao ser declarada, deverá ser explicitamente marcada como
local, do contrário será <a href="#varivel-global">global</a>.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
x = 10          -- x é uma variável global
local y = 11    -- y é uma variável local
[% END %]

<p>
É boa prática declarar as variáveis como locais, sempre que possível, pois
ao fazer muito uso de variáveis globais, elas poderão entrar em conflito de
nomes ao longo do programa e interferir no resultado de modo inesperado.
</p>

<p>
Vale lembrar que uma variável local não precisa ser inicializada durante a
sua declaração, ou seja, ela pode ser apenas declarada e receber algum valor
em um local posterior do código. Por exemplo:
</p>

[% WRAPPER codigo.tt tipo = "lua" %]
local y
-- outras coisas acontecem no programa

y = 11 -- y neste caso é local, pois já foi declarada
[% END %]

<p>
Outro aspecto importante a se considerar sobre variáveis locais é que
parâmetros de função também são uma forma de variável local.
</p>

[% WRAPPER codigo.tt tipo = "lua" %]
function ola(nome)
    -- nome é uma variável local, que pertence ao
    -- bloco composto pelo corpo da função
    print("Olá, " .. nome)
end
[% END %]

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.2">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#3.2">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#3.2">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.3">5.1</a>
</p>

<h2 id="varivel-local-externa">Variável local externa</h2>

<p>
Também chamadas de <em>upvalues</em> (valores &#8220;de cima&#8221;), as
variáveis locais externas são assim chamadas por não serem <a href=
"#varivel-global">globais</a>, porém do ponto de vista de uma função,
elas são externas, ou seja, não são definidas dentro da função.
</p>

<p>
Ou seja, trata-se de uma <a href="#varivel-local">variável local</a>
criada fora da função, porém visível dentro dela, devido a regras de <a href=
"#escopo-lxico">escopo léxico</a>.
</p>

<p>Exemplo:</p>

[% WRAPPER codigo.tt tipo = "lua" %]
local i = 10

function minha_funcao()
    -- i é visível aqui
    -- portanto i é um upvalue de minha_funcao()
end
[% END %]

<p>
Também é possível criar funções que acessam variáveis locais externas em
C, usando a <a href="#api-c">API C</a> de Lua.
</p>

<p>
Este conceito está presente nas versões:<br>
<a href="https://www.lua.org/manual/5.4/manual.html#3.5">5.4</a>,
<a href="https://www.lua.org/manual/5.3/manual.html#3.5">5.3</a>,
<a href="https://www.lua.org/manual/5.2/pt/manual.html#3.5">5.2</a>,
<a href="https://www.lua.org/manual/5.1/pt/manual.html#2.6">5.1</a>
</p>
[% END %]
