[% META
   titulo = "Início"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<p>Olá. Seja bem-vindo(a) ao Lu-a-Bá! Aqui você encontra materiais em
português para conhecer e aprender sobre a linguagem de programação <a href=
"https://www.lua.org/portugues.html">Lua</a>.</p>

<section>
  <h2>&#10159; <a href="/tutoriais/index.html">Tutoriais</a></h2>

  <p>Para iniciar seu aprendizado em Lua, siga os tutoriais do Lu-a-Bá. Nele,
  abordaremos passo a passo, os principais conceitos, mas ao mesmo tempo
  focando em exemplos práticos.</p>

  <div class="irpara">
    <a href="/tutoriais/index.html">Ir para tutoriais</a>
  </div>
</section>

<section>
  <h2>&#10159; <a href="/bibliografia/index.html">Bibliografia</a></h2>

  <p>Aqui materiais (trabalhos acadêmicos, apostilas, e outros tipos de
  documento), externos ao Lu-a-Bá (e que podem contribuir para você se
  aprofundar em Lua) são comentados e recomendados.</p>

  <div class="irpara">
    <a href="/bibliografia/index.html">Ir para bibliografia</a>
  </div>
</section>

<section>
  <h2>&#10159; <a href="/glossario.html">Glossário</a></h2>

  <p>Para não se perder em meio a termos que talvez não tenha ainda visto, ou
  tenha conhecido sob um contexto diferente, visite o glossário de termos,
  que os explica sob a ótica da programação em Lua.</p>

  <div class="irpara">
    <a href="/glossario.html">Ir para glossário</a>
  </div>
</section>

<section>
  <h2>&#10159; <a href="/cronologia.html">Cronologia</a></h2>

  <p>Acompanhe aqui o histórico da linguagem. Veja quando cada versão foi
  inicialmente lançada e quando chegou ao seu fim, e também quando documentos
  presentes na bibliografia foram publicados.</p>

  <div class="irpara">
    <a href="/cronologia.html">Ir para cronologia</a>
  </div>
</section>

<section>
  <h2>&#10159; <a href="/versoes/index.html">Versões</a></h2>

  <p>Acompanhe as mudanças ocorridas entre diferentes versões, compreenda
  como a linguagem avançou, e fique por dentro dos cuidados básicos
  necessários para escrever código que funcione para as diferentes
  versões.</p>

  <div class="irpara">
    <a href="/versoes/index.html">Ir para versões</a>
  </div>
</section>

<section>
  <h2>&#10159; <a href="/comparativos/index.html">Comparativos</a></h2>

  <p>Entenda a relação entre Lua e linguagens que tiveram influência na sua
  concepção e/ou implementação.</p>

  <div class="irpara">
    <a href="/comparativos/index.html">Ir para comparativos</a>
  </div>
</section>
[% END %]
