[% META
   titulo = "Sobre o Lu-a-Bá"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<p>O projeto <strong>Lu-a-Bá</strong> é uma coletânea de informações sobre o
ambiente de desenvolvimento <a href="https://lua.org">Lua</a>, estruturado e
pensado para o público brasileiro, embora possa ser igualmente útil para todo
o público lusófono.</p>

[% WRAPPER nota.tt titulo = "O que é lusófono?" %]
<p>Falante de português.</p>
[% END %]

<p>O nome foi inspirado no termo <em>bê-a-bá</em> usado em referência ao
processo de alfabetização. O que se pretende com esse projeto é uma forma de
letramento, porém na linguagem Lua. Portanto, o Lu-a-Bá é um projeto
educativo.</p>

<p>E também é um projeto independente, isto é, não oficial, e portanto sem
vínculo direto com o projeto Lua da PUC-Rio. Todo o material aqui é uma
contribuição voluntária.</p>

<p>Embora haja um esforço em manter o projeto atualizado e tão útil quanto
possível, não há qualquer obrigação neste sentido, ou mesmo de oferecer
suporte relativo a qualquer assunto abordado.</p>

<h2 id="por-que-o-lu-a-b-foi-criado">Por que o Lu-a-Bá foi criado?</h2>

<p>O Lu-a-Bá foi concebido sob a noção de que há ainda pouco material de
estudo em português tratando sobre Lua, e de que este assunto possui
relevância o bastante para que muito mais seja feito para colocar mais
pessoas em contato com essa linguagem.</p>

<p>Podemos observar uma massiva adoção da linguagem mundo afora, em diversos
segmentos, como embarcados, jogos, aplicações multimídia e diversas extensões
para outros programas, dos mais variados tipos.</p>

<p>Deste modo, o projeto Lu-a-Bá visa remover as barreiras idiomáticas, ao
criar conteúdo totalmente em português. Inevitavelmente, haverá menções a
documentos em outros idiomas (especialmente em inglês), porém devidamente
comentados.</p>

<p>Além das barreiras idiomáticas, o projeto Lu-a-Bá também visa remover as
barreiras cronológicas, ou seja, recuperar o rastro entre o material já
disponível e o que há de mais recente, bem como criar conteúdo novo, cobrindo
também versões mais novas.</p>

<p>E ainda outra consideração importante é que Lua é uma ótima linguagem para
aprender a programar. Sua simplicidade e especificação enxuta permitem que o
aluno matenha o foco nos conceitos da programação, reduzindo a distração com
especificidades da linguagem.</p>

<h2 id="escopo">Escopo</h2>

<p>O Lu-a-Bá cobre informações sobre a distribuição padrão da biblioteca Lua.
Para ajudar os leitores a entender mais sobre o assunto, ele possui tópicos
complementares entre si, cada um com uma função a depender do seu
conhecimento pré-existente e necessidade.</p>

<p>A seção de <strong>tutoriais</strong> serve para guiar novos usuários em
seus primeiros passos, com uma abordagem mais prática e focada nos principais
conceitos.</p>

<p>Para colocar os leitores em contato com materiais elaborados por
terceiros, o Lu-a-Bá organiza uma <strong>bibliografia</strong>
contextualizando o cenário em que foram criados esses
materiais e o que mudou em versões mais recentes, após sua
criação/publicação.</p>

[% WRAPPER nota.tt titulo = "Que materiais de terceiros?" %]
<p>De terceiros, nesse contexto são materiais que não foram elaborados
pelo projeto Lu-a-Bá.</p>
[% END %]

<p>Para tornar mais acessível o entendimento de termos comuns usados na
documentação ou outros materiais curados, um <strong>glossário de
termos</strong> também está disponível, apresentando termos que são
recorrentes no jargão de Lua e que podem ser estranhos a um iniciante ou
mesmo a programadores vindos de outros ambientes de desenvolvimento.</p>

<p>Também há uma seção responsável por estabelecer uma
<strong>cronologia</strong> de fatos relevantes para o projeto, como os
primeiros e últimos (ou mais recentes) lançamentos de versões abrangidas, e
publicação de documentos que tenham sido curados (ou que possivelmente
serão). Isso possibilita uma melhor compreensão do trajeto seguido pela
biblioteca Lua até os tempos atuais.</p>

<p>Há também uma análise sobre as <strong>versões</strong> mais recentes,
traçando uma linha entre elas, mostrando mudanças importantes e possíveis
incompatibilidades que requerem maior atenção e cuidado.</p>

<p>Por fim, há também uma seção dedicada a realizar
<strong>comparativos</strong> com linguagens que possuem alguma influência ou
relevância para a linguagem Lua, de modo a facilitar a integração com outros
ambientes e destacar algumas das forças e fraquezas dessa linguagem.</p>

<p>Por enquanto esta é a abrangência do projeto, embora existam planos para
continuar evoluindo, e a estrutura pode eventualmente sofrer alguns ajustes,
desde que contribuam para melhor cumprir a missão do projeto.</p>

<h3 id="no-escopo">Não escopo</h3>

<p>Este projeto não cobre bibliotecas de terceiros (mesmo aquelas amplamente
utilizadas em programas com Lua, como <a href=
"http://www.inf.puc-rio.br/~roberto/lpeg/">LPeg</a> ou <a href=
"https://lunarmodules.github.io/luasocket/">LuaSocket</a>). O objetivo é
proporcionar uma visão clara e bem estruturada da linguagem Lua e sua
implementação, com materiais elaborados em português.</p>

<p>Isto não significa que não possa haver menções a tais bibliotecas, no
entanto elas não serão detalhadas, visto que isso extrapolaria o objetivo do
projeto.</p>

<p>Além disso, a seção de bibliografia não cobre documentos que não estejam
públicos, pois o intuito é facilitar o acesso ao aprendizado para que você
possa conhecer e começar com essa linguagem.</p>

<p>Evidentemente, existem excelentes materiais não públicos, como <a href=
"https://www.lua.org/docs.html#books">livros</a>, alguns escritos pelos
próprios autores da linguagem, inclusive. O objetivo do Lu-a-Bá não chega nem
perto de substituir esses materiais, pelo que permanecem uma fonte
riquíssima. A proposta aqui é apenas reduzir a barreira de entrada para quem
deseja iniciar seus estudos nesta linguagem.</p>

<p>E ainda, o projeto não cobre implementações alternativas (como <a href=
"http://luajit.org/luajit.html">LuaJIT</a>, por exemplo). Embora esse também
seja um assunto relevante, isso poderia aumentar significativamente o escopo
do projeto. Ainda assim, boa parte do conteúdo é aproveitável para tais
implementações.</p>

<h2 id="como-contribuir-com-o-lu-a-b">Como contribuir com o Lu-a-Bá</h2>

<p>Se você gostou do Lu-a-Bá e quer de algum modo apoiar o projeto, leia
<a href="como_contribuir.html">este documento</a>, que enumera algumas
possibilidades de ajuda.</p>

[% END %]
