[% META
   titulo = "Documento: &#8220;The Evolution of Lua&#8221;"
   h1id   = "documento-the-evolution-of-lua"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<ul>
  <li>
    <strong>Ano:</strong> <a href="../cronologia.html#2007">2007</a>
  </li>

  <li><strong>Idioma:</strong> Inglês</li>

  <li>
    <strong>Baixar&#47;acessar:</strong>
    <ul>
      <li><a href="https://www.lua.org/doc/hopl.pdf">
      PDF</a> [ www.lua.org ]</li>
    </ul>
  </li>
</ul>

<p>Apresentação sobre a evolução da linguagem Lua na terceira edição do
simpósio internacional <a href=
"https://dl.acm.org/doi/proceedings/10.1145/1238844"><em>History of
Programming Languages</em> (HOPL III)</a>, evento que trata sobre a história
de diferentes linguagens de programação, agregados por categoria, nos quais
Lua foi classificado como uma linguagem de <em>script</em>.</p>

<h2 id="pblico-alvo">Público-alvo</h2>

<p>Este documento será de interesse para aqueles que desejarem saber mais
sobre o histórico de evoluções da linguagem e da biblioteca Lua, e quais
foram as influências absorvidas de outros ambientes de desenvolvimento.</p>

<h2 id="estrutura">Estrutura</h2>

<p>O documento é dividido em 8 seções:</p>

<ul>
  <li>Seção 1: <strong>Introduction</strong> (Introdução)</li>

  <li>Seção 2: <strong>Overview</strong> (Visão geral)</li>

  <li>Seção 3: <strong>Prehistory</strong> (Pré-história)</li>

  <li>Seção 4: <strong>Birth</strong> (Nascimento)</li>

  <li>Seção 5: <strong>History</strong> (História)</li>

  <li>Seção 6: <strong>Feature Evolution</strong> (Evolução dos
  recursos)</li>

  <li>Seção 7: <strong>Retrospect</strong> (Retrospectiva)</li>

  <li>Seção 8: <strong>Conclusion</strong> (Conclusão)</li>
</ul>

<h3 id="resumo">Resumo</h3>

<p>A <strong>seção 1</strong>, como se espera, contextualiza a apresentação,
explicando o cenário em que a linguagem Lua surgiu e algumas de suas
características mais marcantes.</p>

<p>A <strong>seção 2</strong> detalha um pouco mais as características
citadas na seção anterior, explicando as fontes de inspiração para o desenho
da linguagem, e os valores que pautaram esse processo, sobretudo a
simplicidade.</p>

<p>A <strong>seção 3</strong> descreve o cenário no qual a linguagem foi
concebida, isto é, projetos que serviram de inspiração, pessoas envolvidas e
objetivos visados. As linguagens de domínio específico DEL e SOL, que
precederam Lua foram pontos de partida para a criação da linguagem Lua, e
suas características e contextos também são apresentados nesta seção.</p>

<p>A <strong>seção 4</strong> comenta o processo de nascimento da linguagem,
tomando por base a sintaxe da linguagem SOL, conceitos de outras linguagens,
e uma construção do mínimo necessário para uma primeira versão que atendesse
o propósito pretendido.</p>

<p>A <strong>seção 5</strong> mostra como o desenho da linguagem e a
construção da sua implementação foi progredindo no tempo e ao longo das
versões lançadas, com valiosas contribuições da comunidade de usuários que
foi se formando em torno deste ambiente de desenvolvimento.</p>

<p>A <strong>seção 6</strong> também detalha o progresso da linguagem, porém
diferente da seção anterior, que teve foco nas versões lançadas, esta deu
mais ênfase a características e recursos da linguagem, mostrando como estas
foram se modificando ao longo das versões.</p>

<p>A <strong>seção 7</strong> faz uma análise sobre o que se consideram erros
e acertos no processo transcorrido, como impactaram no resultado final, e
vislumbra também o que poderiam ser passos posteriores.</p>

<p>A <strong>seção 8</strong> encerra comentando o uso de Lua em aplicações
comerciais, com destaque para o segmento de jogos, no qual Lua se tornou uma
referência importante, e consolida as principais características da linguagem
que favoreceram seu uso em jogos.</p>

<h2 id="comentrios">Comentários</h2>

<p>Conhecer a história de uma linguagem de programação é uma experiência
bastante elucidativa, não apenas para quem tem curiosidade sobre o assunto,
mas também para quem deseja ter uma visão mais abrangente sobre a concepção
atual. Neste sentido, o HOPL se mostra um importante palco para mostrar o
desenvolvimento de importantes linguagens ao longo do tempo, e não é surpresa
que Lua figure entre estas.</p>

<p>No evento, os autores da linguagens conseguem traçar os principais eventos
que levaram ao cenário atual (na época, a versão mais recente era Lua 5.1),
passando pelo contexto que levou à necessidade de criação da linguagem, o
nascimento da linguagem (primeira versão) e o modo como a linguagem e suas
implementações foram progredindo até chegar na versão 5.1.</p>

<p>A narração dos fatos mostra que a história de Lua é marcada pelo
pragmatismo: a linguagem nasce de uma necessidade concreta, e é enriquecida
por uma comunidade que começa a perceber o potencial da linguagem em cenários
diversos. A adesão à simplicidade como valor fundacional, se por um lado
serviu para tornar a implementação inicial viável, por outro se mostrou
importante também para manter o ambiente enxuto e versátil, adaptável aos
diversos cenários que começou a atender.</p>

<p>Cabe destacar que se Lua nasce para atender programas voltados
principalmente para a engenharia e pesquisa científica, posteriormente ganha
um grande destaque no desenvolvimento de jogos, um cenário bem diferente, mas
que tira proveito das características que a linguagem consolidou.</p>

<p>Para o projeto Lu-a-Bá, as principais versões de interesse são desde a 5.1
em diante. No entanto, o projeto tem a premissa de que compreender o passado
ajuda a compreender o presente, e neste sentido essa apresentação no HOPL III
é um valioso registro, que ajuda a montar este
&#8220;quebra-cabeça&#8221;.</p>

<h2 id="contedo-relacionado">Conteúdo relacionado</h2>

<ul>
  <li>Comparativos &#8211; <a href="/comparativos/index.html">Lua e outras
  linguagens</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#acar-sinttico">Açúcar
  Sintático</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#ambiente">Ambiente</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#ambiente-global">Ambiente
  Global</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#api-c">API C</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#biblioteca-padro">Biblioteca
  padrão</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#bloco">Bloco</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#co-rotina">Co-rotina</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#coletor-de-lixo">Coletor de
  lixo</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#depurao">Depuração</a>
  </li>

  <li>Glossário &#8211; <a href=
  "../glossario.html#distribuio-padro">Distribuição padrão</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#escopo-lxico">Escopo
  Léxico</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#estado-lua">Estado Lua</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#fecho">Fecho</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#fluxo-de-execuo">Fluxo de
  execução</a>
  </li>

  <li>Glossário &#8211; <a href=
  "../glossario.html#interpretador-lua">Interpretador Lua</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#mquina-virtual">Máquina
  Virtual</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#metamtodo">Metamétodo</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#metatabela">Metatabela</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#mdulo">Módulo</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#pilha-virtual">Pilha
  virtual</a>
  </li>

  <li>Glossário &#8211; <a href=
  "../glossario.html#programa-hospedeiro">Programa hospedeiro</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#tabela">Tabela</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#trecho">Trecho</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#userdata">Userdata</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#valores-de-primeira-classe">
    Valores de primeira classe</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#varivel-global">Variável
  global</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#varivel-local">Variável
  local</a>
  </li>

  <li>Glossário &#8211; <a href=
  "../glossario.html#varivel-local-externa">Variável local externa</a>
  </li>

  <li>Tutoriais &#8211; <a href="../tutoriais/por_que_lua.html">Por que Lua</a>
  </li>

  <li>Versões &#8211; <a href="../versoes/index.html">Versões de Lua</a>
  </li>
</ul>
[% END %]
