[% META
   titulo = "Bibliografia"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<p>Lua possui raízes acadêmicas. Portanto, não é incomum que haja artigos,
simpósios e outros trabalhos acadêmicos cobrindo esse assunto.</p>

<p>Eles não são necessariamente guias de estudo, mas podem contribuir
significativamente para se aprofundar em tópicos específicos, tanto da
linguagem como da sua implementação, e portanto podem ajudar a construir uma
compreensão mais abrangente do assunto.</p>

<h2 id="documentos">Documentos</h2>

<p>Os documentos a seguir são importantes fontes bibliográficas para o
Lu-a-Bá, e boa parte do conteúdo apresentado foi construído com base
neles.</p>

<ul>
  <li>
    <a href="wjogos04.html">A Linguagem Lua e suas Aplicações em Jogos</a>
  </li>

  <li>
    <a href="look_design_lua.html"><em>A Look at the Design of Lua</em></a>
  </li>

  <li>
    <a href="apostila_lua_2008.html">Lua &#8211; Conceitos Básicos e API C</a>
  </li>

  <li>
    <a href="hopl3.html"><em>The Evolution of Lua</em></a>
  </li>

  <li>
    <a href="jai2009.html">Uma introdução à programação em Lua</a>
  </li>
</ul>

<p>Esses documentos não são parte do projeto Lu-a-Bá, e portanto não estão
(necessariamente) sob a mesma licença.</p>

<h2 id="critrios-para-escolha-dos-documentos">Critérios para escolha dos
documentos</h2>

<p>Documentos adicionados à bibliografia devem, em primeiro lugar, ser
documentos relevantes e confiáveis, e contribuir para uma melhor compreensão
deste ambiente de desenvolvimento.</p>

<p>Todos eles devem estar acessíveis publicamente. A necessidade de cadastro,
autenticação ou pagamento são considerados impeditivos para uso no projeto
Lu-a-Bá. Documentos que precisem ser obtidos em formato impresso também não
constam aqui.</p>

<p>Não que haja necessariamente um problema nessas características, e
certamente muitos documentos que não estão na bibliografia do Lu-a-Bá poderão
ser muito úteis para o seu estudo. Mas a proposta aqui é tornar a informação
mais acessível, evitando o máximo possível impor quaisquer barreiras.</p>

<h2 id="mas-afinal-o-que-consta-nessa-seo">Mas afinal, o que consta nessa
seção?</h2>

<p>Além dos endereços eletrônicos para os documentos da bibliografia, que são
listados na página de cada documento, a seguinte estrutura é criada para cada
um deles:</p>

<ul>
  <li>Título do documento, metadados e breve descrição
    <ul>
      <li>Público-alvo</li>

      <li>Estrutura
        <ul>
          <li>Resumo</li>
        </ul>
      </li>

      <li>Comentários</li>

      <li>Pontos de atenção</li>

      <li>Conteúdo relacionado</li>
    </ul>
  </li>
</ul>

<h3 id="ttulo-metadados-e-breve-descrio">Título, metadados e breve
descrição</h3>

<p>Essa é a seção inicial, que informa o título do documento abordado, alguns
metadados e uma breve descrição. Os metadados são:</p>

<ul>
  <li><strong>Ano</strong>: ano em que o documento foi publicado;</li>

  <li><strong>Idioma</strong>: idioma em que o documento foi escrito;</li>

  <li><strong>Baixar&#47;acessar</strong>: endereço
  (externo) para acesso ao documento, mencionando o formato
  em que foi disponibilizado (PDF, HTML, etc).</li>
</ul>

<p>A descrição deve oferecer um contexto geral do documento (como para qual
finalidade foi criado, qual foi o seu público-alvo, em que contexto foi
apresentado ou por que pessoa ou projeto foi preparado).</p>

<h3 id="pblico-alvo">Público-alvo</h3>

<p>Como implica o nome, essa seção serve para determinar qual será o
principal público interessado no material e quais são alguns conhecimentos
que se espera que esse público possua previamente para tirar maior proveito
da leitura.</p>

<h3 id="estrutura">Estrutura</h3>

<p>Essa seção enumera os tópicos da estrutura principal do documento, divida
em capítulos ou seções, a depender do tipo de documento.</p>

<h3 id="resumo">Resumo</h3>

<p>Uma subseção da seção de estrutura, a qual detalha um pouco mais cada um
dos tópicos enumerados, mostrando a progressão do conteúdo e a linha de
raciocínio utilizada no documento.</p>

<h3 id="comentrios">Comentários</h3>

<p>A principal função dessa seção é pavimentar o caminho para o leitor, isto
é, permitir que ele extraia o máximo da leitura do documento, quando o fizer,
ou que consiga posteriormente fazer uma releitura, caso já tenha lido o
documento antes, possivelmente com uma nova percepção sobre o assunto.</p>

<h3 id="pontos-de-ateno">Pontos de atenção</h3>

<p>Os itens desta seção tratam majoritariamente sobre detalhes do documento
que não são válidos para versões mais recentes de Lua, e também sobre alguns
pequenos erros de digitação que eventualmente possam dificultar o
entendimento de algum conceito abordado.</p>

<p>Vez ou outra podem incluir alertas sobre algum assunto que não fazia parte
do escopo do documento, mas possui relação e pode ser de interesse do
leitor.</p>

<h3 id="contedo-relacionado">Conteúdo relacionado</h3>

<p>Assim como em outras seções do Lu-a-Bá, na bibliografia a seção de
conteúdo relacionado aponta outros documentos do próprio Lu-a-Bá que possuem
relação com o tema abordado.</p>

<p>Neste caso, serão apontados termos do glossário que foram abordados no
documento, tutoriais relacionados e demais documentos do Lu-a-Bá que de algum
modo possam contribuir para a compreensão do material em análise.</p>
[% END %]
