[% META
   titulo = "Documento: &#8220;Uma introdução à programação em Lua&#8221;"
   h1id   = "documento-uma-introduo-programao-em-lua"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<ul>
  <li>
    <strong>Ano:</strong> <a href="../cronologia.html#2009">2009</a>
  </li>

  <li><strong>Idioma:</strong> Português</li>

  <li>
    <strong>Baixar&#47;acessar:</strong>
    <ul>
      <li><a href="https://www.lua.org/doc/jai2009.pdf">
      PDF</a> [ www.lua.org ]</li>
    </ul>
  </li>
</ul>

<p>Mini-curso preparado e apresentado por um dos autores da linguagem nas
<a href="http://csbc2009.inf.ufrgs.br/index.php?option=com_content&amp;task=view&amp;id=26&amp;Itemid=71">
Jornadas de Atualização em Informática</a> &#8211; 2009, evento que ocorreu
na Universidade Federal do Rio Grande do Sul (UFRGS).</p>

<h2 id="pblico-alvo">Público-alvo</h2>

<p>Este documento será útil para quem deseja aprender a programar em Lua, e
já possui algum conhecimento prévio em programação, com outros ambientes de
desenvolvimento.</p>

<h2 id="estrutura">Estrutura</h2>

<p>Dentro do programa, este mini-curso foi o terceiro, e foi dividido em 8
seções:</p>

<ul>
  <li>Seção 3.1: <strong>Introdução</strong></li>

  <li>Seção 3.2: <strong>Como usar Lua</strong></li>

  <li>Seção 3.3: <strong>Alguns Exemplos</strong></li>

  <li>Seção 3.4: <strong>Programando com Funções</strong></li>

  <li>Seção 3.5: <strong>Programando com Tabelas</strong></li>

  <li>Seção 3.6: <strong>Programando com Co-rotinas</strong></li>

  <li>Seção 3.7: <strong>A API Lua-C</strong></li>

  <li>Seção 3.8: <strong>Comentários Finais</strong></li>
</ul>

<h3 id="resumo">Resumo</h3>

<p>A <strong>seção 3.1</strong> explica algumas características da linguagem
que a tornam dinâmica, e comenta também sua concepção como linguagem
&#8220;de <em>script</em>&#8221;.</p>

[% WRAPPER nota.tt titulo = "O que são <em>scripts</em>?" %]
<p>
Usa-se coloquialmente o termo <em>script</em> (do inglês, roteiro)
em referência a programas relativamente simples que apenas determinam
um passo a passo composto por ações mais complexas (e abstraídas).
</p>
[% END %]

<p>A <strong>seção 3.2</strong> menciona formas de obtenção de uma
distribuição de Lua em diferentes sistemas operacionais, e também maneiras de
executar o código Lua utilizando o interpretador da distribuição padrão,
alertando também para o fato de que em muitos casos, os programas Lua são
embutidos em outras aplicações, e nestes casos dependerão do modo como o
programa hospedeiro carrega e executa os trechos de código Lua.</p>

<p>Depois disso, a <strong>seção 3.3</strong> mostra, por meio de exemplos,
alguns conceitos-chave da linguagem, relativos a tipos de dados, operadores,
funções e estruturas de controle, testes lógicos e algumas convenções da
linguagem.</p>

<p>Em seguida, a <strong>seção 3.4</strong> apresenta mais alguns exemplos
que enfatizam características importantes das funções na linguagem Lua, como
o fato de serem valores de primeira classe, terem possivelmente múltiplos
retornos, escopo léxico, e as possibilidades que se abrem para uma abordagem
funcional, utilizando funções de alta ordem e encadeamentos de chamadas.</p>

<p>A <strong>seção 3.5</strong> apresenta o conceito de tabelas, alguns
exemplos de uso e sua importância para construção de módulos, bem como a
possibilidade de uso para orientação a objetos, com auxílio do mecanismo de
delegação (este por sua vez baseado no conceito de metatabelas e metamétodos,
porém não muito explorados no documento).</p>

<p>Depois disso, a <strong>seção 3.6</strong> fala sobre o conceito de
co-rotinas, como elas são implementadas em Lua, e demonstra a sua
versatilidade com alguns exemplos de uso focados nas transferências de
controle entre múltiplos trechos de código.</p>

<p>A <strong>seção 3.7</strong> comenta o modo como Lua foi concebida desde o
início para ser uma biblioteca portátil, e mostra duas perspectivas de uso da
API C, uma na qual Lua é embutida em um programa C, e outra na qual é
estendida com o registro de funções implementadas em C.</p>

<p>Por fim, a <strong>seção 3.8</strong> faz um importante e acertado alerta
sobre pontos que merecem uma discussão mais aprofundada, o que requer o
tratamento de vários novos conceitos, algo que exigiria mais tempo do que o
mini-curso dispunha.</p>

<h2 id="comentrios">Comentários</h2>

<p>Como parte de um mini-curso, este documento sintetiza ao máximo o seu
conteúdo, focando nos conceitos-chave da linguagem Lua e suas diferenças com
outras linguagens.</p>

<p>Conceitos como iteração, recursividade, testes lógicos, abstração de
problemas, estruturas de dados, paradigmas de programação são assuntos tidos
como já conhecidos pelo leitor, e nesse sentido alguns exemplos triviais são
apresentados apenas para explicar conceitos específicos da linguagem Lua.</p>

<p>Esses exemplos, porém, são seguidos de exemplos mais realistas, abordando
problemas como tabelas de prefixos, desenhos de polígonos, pertinência em
regiões geométricas, dentre outros cenários, utilizando os conceitos
recém-apresentados. Além disso, a explicação sobre implementação de
orientação a objetos em Lua só fará sentido para quem já tem familiaridade
com este paradigma.</p>

<p>Dentre os principais conceitos de Lua abordados podemos destacar as
<strong>funções</strong>, que embora sejam comuns na programação, possuem
várias particularidades em Lua, as <strong>tabelas</strong>, que são uma
estrutura (de fato a única em Lua) altamente versátil e pervasiva na
linguagem, e <strong>co-rotinas</strong>, que oferecem um alto grau de
controle e fluxos de execução cooperativos.</p>

<p>O final do documento explora mais a natureza &#8220;satelital&#8221; da
linguagem, mostrando que na prática ela é uma biblioteca implementada em C,
feita para ser <em>embutida em</em> ou <em>estendida com</em> código escrito
em outras linguagens (geralmente em C), utilizando a <strong>API
C</strong>.</p>

<h2 id="pontos-de-ateno">Pontos de atenção</h2>

<ul>
  <li>
    <p>Na <strong>subseção 3.2</strong>, há menção ao projeto <em>Lua for
    Windows</em>, com o endereço de acesso. Esse endereço já não está mais
    ativo e hoje o projeto pode ser encontrado em um <a href=
    "https://github.com/rjpcomputing/luaforwindows">novo endereço</a>. Cabe
    notar que o <em>Lua for Windows</em> distribui apenas a versão 5.1 da
    biblioteca Lua.</p>
  </li>

  <li>
    <p>Na <strong>subseção 3.2</strong>, comenta-se que Lua sempre trabalha
    com números reais em ponto flutuante. Foi assim até a versão 5.2, porém
    <a href="https://www.lua.org/manual/5.3/manual.html#8.1">a partir da
    versão 5.3</a>, os números são, por padrão, tratados como inteiros, sendo
    tratados como reais apenas quando há explicitamente uma parte
    fracionária.</p>
  </li>

  <li>
    <p>Ao final da <strong>subseção 3.2</strong>, comenta-se que o estado Lua
    é persistido em uma sessão no interpretador interativo, que persiste até
    o fim da execução do programa e também o fato de que cada linha é
    executada como um trecho.</p>

    <p>A partir dessa informação é importante lembrar que variáveis locais
    não são mantidas entre os comandos, pois o escopo destas é confinado ao
    trecho (isto é, à linha). Apenas variáveis globais persistem entre os
    comandos.</p>
  </li>

  <li>
    <p>Na <strong>subseção 3.4.4</strong>, que fala sobre trechos, a função
    <code>loadstring()</code> é mencionada. Cabe observar que a partir da
    versão 5.2, essa função <a href=
    "https://www.lua.org/manual/5.2/pt/manual.html#8.2">é tornada
    obsoleta</a>, em favor da função <a href=
    "https://www.lua.org/manual/5.2/pt/manual.html#pdf-load"><code>load()</code></a>.
    Na versão 5.3 a função <code>loadstring()</code> é efetivamente
    removida.</p>
  </li>

  <li>
    <p>A <strong>subseção 3.4.4</strong> explica que o interpretador Lua
    troca o sinal de igual nos trechos executados por um comando de retorno
    (<code>return</code>). Embora isso ainda seja verdadeiro, <a href=
    "https://www.lua.org/manual/5.3/readme.html#changes">a partir da versão
    5.3</a> isto não é mais necessário, de modo que o retorno é apresentado
    com ou sem o sinal de igual.</p>
  </li>

  <li>
    <p>A <strong>subseção 3.5.2</strong> menciona um artifício para
    determinar o tamanho de uma tabela por meio do atributo <code>n</code>. O
    exemplo não está errado, mas considerando o papel que o campo
    <code>n</code> teve até a versão 5.0, é importante esclarecer uma
    diferença surgida na versão 5.1. Até a versão 5.0, o campo <code>n</code>
    seria sempre usado para consultar o tamanho de uma tabela, por meio de
    funções da API C ou por funções da biblioteca padrão.</p>

    <p>A partir da versão 5.1, esse campo perde qualquer significado
    especial, e só é usado dessa maneira (quando é usado) como uma convenção,
    e inclusive podendo ser utilizado outro nome no lugar de <code>n</code>.
    Nesses casos, fica a encargo do programador implementar as rotinas de
    consulta de tamanho da tabela e de atualização desse tamanho quando um
    campo for adicionado ou removido da tabela em questão.</p>

    <p>Note-se que na versão 5.1 a documentação já <a href=
    "https://www.lua.org/manual/5.2/pt/manual.html#2.5.5">não faz qualquer
    menção a um campo <code>n</code></a> que determine o tamanho das tabelas.
    Outra informação relacionada presente na documentação da versão 5.1 é uma
    mudança na API C, na qual as funções <code>luaL_getn()</code> e
    <code>luaL_setn()</code> da biblioteca auxiliar <a href=
    "https://www.lua.org/manual/5.1/pt/manual.html#7.3">caem em
    depreciação</a> e já não mais devem ser usadas.</p>
  </li>

  <li>
    <p>Na <strong>subseção 3.5.4</strong> comenta-se que módulos são
    representados por tabelas no escopo global. Até a versão 5.1 isso era
    bastante convencional. No entanto, a partir da versão 5.2, <a href=
    "https://www.lua.org/manual/5.2/pt/manual.html#8.2">convencionou-se</a>
    que módulos não resultem em alterações no escopo global.</p>
  </li>

  <li>
    <p>A <strong>subseção 3.7.2</strong> demonstra uma maneira de estender
    Lua, que é registrando funções escritas em C, com auxílio da função
    <code>lua_pushcfunction()</code>, para guardar a função na pilha virtual
    e então depois gravá-la em uma variável global. Embora não esteja no
    escopo do documento, vale lembrar que há também outras maneiras de
    estender a linguagem, seja criando módulos inteiros via API C (de modo
    que as funções são gravadas em uma tabela), seja criando tipos
    específicos (<em>userdata</em>), os quais podem ter suas próprias
    metatabelas e metamétodos.</p>
  </li>
</ul>

<h2 id="contedo-relacionado">Conteúdo relacionado</h2>

<ul>
  <li>Glossário &#8211; <a href="../glossario.html#acar-sinttico">Açúcar
  Sintático</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#api-c">API C</a>
  </li>

  <li>Glossário &#8211; <a href=
  "../glossario.html#biblioteca-auxiliar">Biblioteca auxiliar</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#biblioteca-padro">Biblioteca
  padrão</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#bloco">Bloco</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#co-rotina">Co-rotina</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#coletor-de-lixo">Coletor de
  lixo</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#compilao-lua">Compilação
  Lua</a>
  </li>

  <li>Glossário &#8211; <a href=
  "../glossario.html#distribuio-padro">Distribuição padrão</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#escopo-lxico">Escopo
  Léxico</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#estado-lua">Estado Lua</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#fluxo-de-execuo">Fluxo de
  execução</a>
  </li>

  <li>Glossário &#8211; <a href=
  "../glossario.html#interpretador-lua">Interpretador Lua</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#mquina-virtual">Máquina
  Virtual</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#metamtodo">Metamétodo</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#metatabela">Metatabela</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#mdulo">Módulo</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#pilha-virtual">Pilha
  virtual</a>
  </li>

  <li>Glossário &#8211; <a href=
  "../glossario.html#programa-hospedeiro">Programa hospedeiro</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#tabela">Tabela</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#trecho">Trecho</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#userdata">Userdata</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#valores-de-primeira-classe">
    Valores de primeira classe</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#varivel-global">Variável
  global</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#varivel-local">Variável
  local</a>
  </li>

  <li>Tutoriais &#8211; <a href="../tutoriais/obtendo_lua.html">Obtendo Lua</a>
  </li>

  <li>Tutoriais &#8211; <a href=
  "../tutoriais/executando_codigo_lua.html">Executando código Lua</a>
  </li>
</ul>
[% END %]
