[% META
   titulo = "Documento: &#8220;A Look at the Design of Lua&#8221;"
   h1id   = "documento-a-look-at-the-design-of-lua"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<ul>
  <li>
    <strong>Ano</strong>: <a href="../cronologia.html#2018">2018</a>
  </li>

  <li><strong>Idioma</strong>: Inglês</li>

  <li>
    <strong>Baixar&#47;acessar</strong>:
    <ul>
      <li><a href="https://cacm.acm.org/research/a-look-at-the-design-of-lua/">
      HTML</a> [ cacm.acm.org ]</li>
      <li><a href="https://dl.acm.org/doi/pdf/10.1145/3186277">
      PDF</a> [ dl.acm.org ]</li>
    </ul>
  </li>
</ul>

<p>Artigo publicado pelos autores da linguagem Lua, no periódico <a href=
"https://cacm.acm.org"><em>Communications of the ACM</em></a>, em 2018.</p>

<h2 id="pblico-alvo">Público-alvo</h2>

<p>Esse artigo será de interesse principalmente para quem já possui ao menos
alguma noção básica de Lua, mas gostaria de saber um pouco mais sobre os
motivos de ter sido desenhada como foi, e no processo obter algumas dicas de
como alavancar essas características. Alguma noção de C também será útil para
compreender a relação desse desenho com a API C mencionada no artigo.</p>

<h2 id="estrutura">Estrutura</h2>

<p>O artigo está estruturado em 11 seções:</p>

<ul>
  <li>Seção 1: <strong>Introduction</strong> (Introdução)</li>

  <li>Seção 2: <strong>Key Insights</strong> (Ideias centrais)</li>

  <li>Seção 3: <strong>Design Goals</strong> (Objetivos)</li>

  <li>Seção 4: <strong>The Lua-C API</strong> (A API Lua-C)</li>

  <li>Seção 5: <strong>Tables</strong> (Tabelas)</li>

  <li>Seção 6: <strong>Functions</strong> (Funções)</li>

  <li>Seção 7: <strong>Exploring Tables and Functions</strong> (Explorando
  tabelas e funções)</li>

  <li>Seção 8: <strong>Coroutines</strong> (Co-rotinas)</li>

  <li>Seção 9: <strong>Conclusion</strong> (Conclusão)</li>

  <li>Seção 10: <strong>References</strong> (Referências)</li>

  <li>Seção 11: <strong>Authors</strong> (Autores)</li>
</ul>

<h3 id="resumo">Resumo</h3>

<p>A <strong>seção 1</strong> começa explicando por alto o que é a linguagem
Lua e em que segmentos ela se destaca, citando alguns exemplos onde é
utilizada.</p>

<p>A <strong>seção 2</strong> menciona aquilo que é o cerne da linguagem Lua,
que é a sua característica de metaprogramação, isto é, em vez de convenções
pré-determinadas, oferecer mecanismos básicos que permitem ao programador
definir as próprias convenções. E fala também sobre a economia de conceitos,
de modo que a linguagem se torna pequena para caber na cabeça do
programador.</p>

<p>A <strong>seção 3</strong> detalha um pouco o tema explicado na seção
anterior, mencionando os objetivos desse ambiente de desenvolvimento
(simplicidade, economia, portabilidade e embutibilidade), e a relação desses
objetivos com alguns conceitos centrais da linguagem (tabelas, funções e
co-rotinas) e a API C.</p>

<p>A <strong>seção 4</strong> fala sobre a importância da API C para o
propósito da embutibilidade de Lua, e sobre como todos os recursos da
linguagem devem também ser expostos pela API. Um exemplo básico de uso da API
em um programa em C é demonstrado e explicado.</p>

<p>A <strong>seção 5</strong> explica o conceito de tabelas, um dos pilares
da linguagem Lua. Trata-se de uma coleção de chaves e valores associados,
cujas chaves podem ser tanto nomes quanto números. Também menciona o uso de
açúcar sintático para referenciar chaves nomeadas, e o uso de tabelas em
conceitos mais elaborados, como tuplas e matrizes esparsas.</p>

<p>A <strong>seção 6</strong>, por sua vez, explica o conceito de funções no
contexto de Lua, isto é, anônimas, valores de primeira classe, e com escopo
léxico, destacando a relação de funções com o processo de compilação de
trechos de código Lua.</p>

<p>A <strong>seção 7</strong> é de todas a mais densa, e demonstra como
tabelas e funções anônimas com escopo léxico, em conjunto com um pouco de
açúcar sintático e o conceito de metatabelas, podem ser usadas para construir
mecanismos sofisticados, como módulos e ambientes, e trabalhar com tratamento
de exceções e programação orientada a objetos.</p>

<p>A <strong>seção 8</strong> é dedicada a explicar como o conceito de
co-rotinas é usado dentro da linguagem Lua (sendo assimétricas, valores de
primeira classe e podendo ser suspensas&#47;retomadas a partir de qualquer
ponto), bem como os desafios e pontos de atenção relacionados ao seu uso na
API C. Também são citados alguns usos comuns para esse recurso.</p>

<p>A <strong>seção 9</strong> reafirma as escolhas feitas para o desenho da
linguagem Lua com base no material exposto, explicando como os conceitos de
funções, tabelas e co-rotinas, ajudam a manter a linguagem enxuta e como esse
desenho minimalista se reflete na API, favorecendo a simplicidade, a
portabilidade e a embutibilidade de Lua.</p>

<p>Por fim, as <strong>seções 10 e 11</strong>, respectivamente citam as
referências e apresentam os autores deste artigo.</p>

<h2 id="comentrios">Comentários</h2>

<p>O conteúdo do artigo não está muito focado em <em>como</em> se usa Lua,
mas sobretudo no <em>porquê</em> da linguagem ser como é, e por que possui as
características que possui (embora existam sim alguns exemplos de uso
interessantes, que ajudam a justificar as decisões arquiteturais).</p>

<p>Como o artigo não deixa de frisar, as escolhas feitas para um ambiente de
desenvolvimento devem refletir os seus objetivos, e terão tanto o ônus quanto
o bônus (do contrário não seria uma escolha). Equilibrar essas escolhas para
o atingimento dos objetivos eleitos pode ser desafiador, e esse artigo fala
um pouco sobre esses desafios em Lua.</p>

<p>Um exemplo dessas escolhas é a exposição de todos os conceitos da
linguagem na API C. Isto é importante para a embutibilidade da linguagem
(isto é, poder usar Lua dentro de outros programas, escritos em outras
linguagens).</p>

<p>Outro exemplo interessante é a economia de conceitos, e combinação dos
poucos conceitos escolhidos (especialmente tabelas, funções e co-rotinas)
para elaborar conceitos mais avançados como módulos, ambientes, tratamento de
exceções e orientação a objetos, por exemplo.</p>

<p>É um bom artigo para consolidar uma visão mais abrangente de Lua e
compreender quando faz sentido usá-la dentro de um programa, ou para
construir um novo programa.</p>

<h2 id="pontos-de-ateno">Pontos de atenção</h2>

<ul>
  <li>Na <strong>seção 7</strong>, o conceito de ambientes apresentado
  funciona desse modo <a href=
  "https://www.lua.org/manual/5.2/pt/manual.html#8.1">a partir da versão
  5.2</a>. Antes disso, ambientes eram associados a fluxos de execução,
  funções (C ou Lua) ou <em>userdata</em>. Da 5.2 em diante, apenas funções
  Lua possuem um ambiente vinculado, representado pela variável local externa
  <code>_ENV</code> (que é uma tabela).
  </li>
</ul>

<h2 id="contedo-relacionado">Conteúdo relacionado</h2>

<ul>
  <li>Comparativos &#8211; <a href="/comparativos/index.html">Lua e outras
  linguagens</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#acar-sinttico">Açúcar
  Sintático</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#ambiente">Ambiente</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#api-c">API C</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#chamada-protegida">Chamada
  protegida</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#co-rotina">Co-rotina</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#coletor-de-lixo">Coletor de
  lixo</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#escopo-lxico">Escopo
  Léxico</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#estado-lua">Estado Lua</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#fluxo-de-execuo">Fluxo de
  execução</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#funo-annima">Função
  anônima</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#metamtodo">Metamétodo</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#metatabela">Metatabela</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#mdulo">Módulo</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#pilha-virtual">Pilha
  virtual</a>
  </li>

  <li>Glossário &#8211; <a href=
  "../glossario.html#programa-hospedeiro">Programa hospedeiro</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#tabela">Tabela</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#tabela-fraca">Tabela
  fraca</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#trecho">Trecho</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#valores-de-primeira-classe">
    Valores de primeira classe</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#varivel-global">Variável
  global</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#varivel-local">Variável
  local</a>
  </li>

  <li>Tutoriais &#8211; <a href="../tutoriais/por_que_lua.html">Por que Lua</a>
  </li>
</ul>
[% END %]
