[% META
   titulo = "Documento: &#8220;A Linguagem Lua e suas Aplicações em Jogos&#8221;"
   h1id   = "documento-a-linguagem-lua-e-suas-aplicaes-em-jogos"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<ul>
  <li>
    <strong>Ano:</strong> <a href="../cronologia.html#2004">2004</a>
  </li>

  <li><strong>Idioma:</strong> Português</li>

  <li>
    <strong>Baixar&#47;acessar:</strong>
    <ul>
      <li><a href="https://www.lua.org/doc/wjogos04.pdf">
      PDF</a> [ www.lua.org ]</li>
    </ul>
  </li>
</ul>

<p>Tutorial elaborado pelos autores de Lua, para demonstrar (no Simpósio
Brasileiro de Jogos para Computador e Entretenimento Digital, em 2004 &#8211;
<a href="http://sbgames.usuarios.rdc.puc-rio.br/04/">SBgames</a>) os
conceitos básicos da linguagem e como ela pode ser útil para criação de
jogos</p>

<h2 id="pblico-alvo">Público-alvo</h2>

<p>Este documento pode ser usado tanto como uma referência inicial para quem
deseja aprender a programar em Lua, como para quem deseja saber mais sobre a
integração de Lua com outros programas (sobretudo em jogos, neste caso)
usando a API C. Ele pressupõe, portanto, algum conhecimento prévio de C e C++
para compreensão dessa integração.</p>

<h2 id="estrutura">Estrutura</h2>

<p>O tutorial é dividido em 7 seções:</p>

<ul>
  <li>Seção 1: <strong>Introdução</strong></li>

  <li>Seção 2: <strong>Linguagens de extensão</strong></li>

  <li>Seção 3: <strong>A linguagem Lua</strong></li>

  <li>Seção 4: <strong>Uso de Lua em Jogos</strong></li>

  <li>Seção 5: <strong>Conclusão</strong></li>

  <li>Seção 6: <strong>Agradecimentos</strong></li>

  <li>Seção 7: <strong>Referências</strong></li>
</ul>

<h3 id="resumo">Resumo</h3>

<p>A <strong>seção 1</strong> apresenta estatísticas sobre o uso da linguagem
Lua em jogos, e menciona características desejáveis de uma linguagem neste
contexto. A <strong>seção 2</strong> detalha um pouco mais essas
características ao diferenciar entre alguns tipos de extensão (configuração,
macros e embutidas), e comenta as vantagens de usá-las, em especial nos
jogos.</p>

<p>Já a <strong>seção 3</strong> apresenta uma visão geral da linguagem,
desde seu histórico, sua sintaxe básica, características principais,
versatilidade paradigmática, biblioteca padrão, mecanismos de co-rotinas e
API C, sempre dando enfoque à aplicação dentro de jogos.</p>

<p>Em seguida, a <strong>seção 4</strong> dá um enfoque maior à API C e sua
importância para embutir Lua dentro de outras aplicações (nesse caso, os
jogos), com três diferentes exemplos, cada qual colocando Lua num papel
diferente dentro da aplicação (no primeiro, como linguagem de configuração;
no segundo, como linguagem de extensão; e no terceiro, como linguagem de
controle).</p>

<p>Por fim, a <strong>seção 5</strong> conclui comentando alguns exemplos de
jogos que usaram Lua, e para qual finalidade a linguagem foi escolhida nesses
casos. As <strong>seções 6 e 7</strong> fazem os agradecimentos e
referências, respectivamente.</p>

<h2 id="comentrios">Comentários</h2>

<p>O que você pensaria, num primeiro momento, ao saber que está lendo um
documento de quase duas décadas de idade, sobre uma linguagem de programação
que segue em desenvolvimento até hoje? Provavelmente pensaria que ele está
bastante desatualizado, não é mesmo?</p>

<p>Pois bem, este documento foi publicado em 2004, quando a versão corrente
do interpretador Lua ainda era a 5.0. Embora existam alguns detalhes que
mudaram, a quase totalidade do que está descrito nele permanece válida.</p>

<p>Isto mostra a solidez da linguagem, que foi projetada desde o princípio
para oferecer um &#8220;solo comum&#8221; mínimo, a partir do qual o
programador fará adaptações necessárias para sua aplicação. Isto permite que
pouco precise mudar ao longo dos anos. A bem da verdade, este é um documento
introdutório, e à medida que se aprofunda no assunto, é esperado que um
número maior de diferenças entre as versões seja detectado.</p>

<p>Ainda assim, o disposto no documento corresponde a boa parte do que um
programador Lua casual precisa saber, e no presente momento (considerando o
modo e o ritmo com que a linguagem tem evoluído) é de se esperar que o
conteúdo permaneça igualmente válido por um bom tempo.</p>

<p>Os três pilares da linguagem (tabelas, funções e co-rotinas) são
apresentados e exemplificados (embora não haja uma exploração exaustiva),
para que se tenha uma dimensão do que pode ser feito em código Lua. Ao mesmo
tempo, o documento mostra também um outro lado da linguagem que é a sua
implementação e integração com outras aplicações, com uso da API C.</p>

<p>Aqui cabe ressaltar que este documento também explora um pouco a
integração com C++, o que faz sentido em um contexto de jogos, onde esse
ambiente de desenvolvimento é bastante comum.</p>

<p>Embora o documento não detalhe completamente a linguagem, ele demonstra
suas principais características e alguns exemplos de uso que são úteis para
despertar o interesse. Também é útil para quem já tem alguma vivência com a
linguagem e gostaria de ter ideias para uso da mesma em jogos.</p>

<h2 id="pontos-de-ateno">Pontos de atenção</h2>

<ul>
  <li>
    <p>Na <strong>subseção 3.3</strong> (página 4) há um comentário sobre o
    tipo <em>number</em> não diferenciar entre inteiros e reais. Até a versão
    5.2 isto se manteve verdadeiro, no entanto, na versão 5.3 (que é
    posterior a este documento) <a href=
    "https://www.lua.org/manual/5.3/manual.html#8.1">passou-se a diferenciar
    as representações numéricas</a>, de modo que um número é representado por
    um inteiro se não houver uma parte fracionária.</p>
  </li>

  <li>
    <p>Na <strong>subseção 4.1</strong> (página 13) há um exemplo de uso da
    função <code>lua_open()</code> para criação de um novo estado Lua. Essa
    função <a href="https://www.lua.org/manual/5.1/pt/manual.html#7.3">foi
    substituída</a> na versão <a href="/versao/resumo.html#v51">5.1</a>, pela
    função <a href=
    "https://www.lua.org/manual/5.1/pt/manual.html#lua_newstate"><code>luaL_newstate()</code></a>.</p>
  </li>
</ul>

<h2 id="contedo-relacionado">Conteúdo relacionado</h2>

<ul>
  <li>Glossário &#8211; <a href="../glossario.html#ambiente">Ambiente</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#ambiente-global">Ambiente
  Global</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#api-c">API C</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#biblioteca-padro">Biblioteca
  padrão</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#bloco">Bloco</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#co-rotina">Co-rotina</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#coletor-de-lixo">Coletor de
  lixo</a>
  </li>

  <li>Glossário &#8211; <a href=
  "../glossario.html#distribuio-padro">Distribuição padrão</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#escopo-lxico">Escopo
  Léxico</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#estado-lua">Estado Lua</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#fluxo-de-execuo">Fluxo de
  execução</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#metatabela">Metatabela</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#pilha-virtual">Pilha
  virtual</a>
  </li>

  <li>Glossário &#8211; <a href=
  "../glossario.html#programa-hospedeiro">Programa hospedeiro</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#tabela">Tabela</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#trecho">Trecho</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#userdata">Userdata</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#valores-de-primeira-classe">
    Valores de primeira classe</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#varivel-global">Variável
  global</a>
  </li>

  <li>Glossário &#8211; <a href="../glossario.html#varivel-local">Variável
  local</a>
  </li>

  <li>Tutoriais &#8211; <a href="../tutoriais/por_que_lua.html">Por que Lua</a>
  </li>
</ul>
[% END %]
