[% META
   titulo = "Aviso de autenticidade"
   pchav  = "lua,português,blog"
%]
[% PROCESS blog.tt %]
[% WRAPPER artigo.tt %]
<p>Que tempos vivemos, em que já não é óbvio que um texto foi imaginado,
elaborado e escrito por uma pessoa. Tempos tristes, se me perguntar, ao menos
nesse quesito. Sendo assim, deixo aqui um aviso importante em relação ao
projeto Lu-a-Bá.</p>

<p>Todo o material produzido no Lu-a-Bá, sem exceção, é fruto de uma
inteligência natural, com todos os seus limites e imperfeições, mas também
com toda a sua originalidade, autenticidade, ineditismo e zelo.</p>

<p>Absolutamente nenhum texto, nenhum exemplo de código ou nenhuma imagem são
produzidos de maneira automatizada. Entenda-se: não faço uso de algoritmos de
inteligência artificial, para produzir (ou mesmo inspirar) nada que faça
parte do conteúdo do projeto.</p>

<p>E para além disso, todos os materiais de estudo que são base para produção
do Lu-a-Bá são citados, sejam eles materiais da <a href=
"/bibliografia/index.md">bibliografia</a> ou a própria <a href=
"https://lua.org/docs.html#manual">documentação oficial</a> do projeto Lua,
respeitadas suas licenças e restrições, letra por letra.</p>

<p>Para mim é uma grande alegria poder dizer isso. Essas são as
características que agregam valor ao projeto, e portanto serão
preservadas.</p>

<h2 id="mas-qual-o-problema">Mas qual o problema?</h2>

<p>Por que não usar um gerador de texto automatizado para ganhar tempo?
Porque se fizesse isso, o projeto não seria apenas <em>desleixado</em> mas
também <em>trapaceiro</em>.</p>

<p>Qual seria o sentido de fazer algo que qualquer pessoa poderia fazer por
conta própria em alguns segundos? E eu não ganharia tanto tempo, teria que
revisar os textos de qualquer forma, pois eles poderiam sim conter erros e
imprecisões. Talvez até gastasse mais tempo.</p>

<p>Para além disso, eu poderia, ainda que involuntariamente, incorrer em
violações de direitos autorais, a depender dos materiais que fossem usados
como base e as políticas de uso da ferramenta utilizada, o que impediria que
eu aplicasse a licença <a href=
"http://creativecommons.org/licenses/by-sa/4.0/">CC BY SA</a> ao conteúdo do
projeto.</p>

<p>Então nem cogito partir para essa linha de atuação. Não estou condenando o
uso dessas soluções para todo e qualquer trabalho, que fique claro. Mas é
totalmente incompatível com o Lu-a-Bá.</p>

<p>Para mim, a originalidade e a atenção aos detalhes são valores caros ao
projeto e são meu gesto de cuidado para com o público.</p>
[% END %]
