[% META
   titulo = "Novidades &#8211; Abril&#47;2024"
   pchav  = "lua,português,blog"
%]
[% PROCESS blog.tt %]
[% WRAPPER artigo.tt %]
<p>Olá de novo.</p>

<p>Em vista dos avanços recentes resolvi separar em seções (a seguir) as
mudanças do projeto.</p>

<h2 id="tutoriais"><a href="/tutoriais/index.md">Tutoriais</a>
</h2>

<p>Sempre gostei de me questionar, antes de iniciar qualquer estudo, sobre o
motivo de dedicar meu tempo ao assunto. Penso que deve ser uma angústia de
muitos estudantes apenas mergulhar em algum assunto sem compreender muito bem
por que está fazendo isso.</p>

<p>Por isso dedici incluir um novo tutorial chamado <a href=
"/tutoriais/por_que_lua.md">Por que Lua?</a> à lista de tutoriais, sendo o
primeiro da lista a partir de agora.</p>

<h2 id="bibliografia">
<span style="text-decoration: line-through;">Curadoria</span> &gt;
<a href="/bibliografia/index.md">Bibliografia</a>
</h2>

<p>Na seção de bibliografia, de um modo geral, eu resolvi separar dos
comentários dos documentos curados a parte referente ao público-alvo, ou
seja, para cada documento existe agora uma seção &#8220;Público-alvo&#8221;
que é específica para apontar qual será o público habilitado&#47;interessado
(tipicamente) para cada documento.</p>

<p>Um novo documento também foi adicionado, para o artigo &#8220;<a href=
"/bibliografia/look_design_lua.md">A look at the design of
Lua</a>&#8221;.</p>

[% WRAPPER nota.tt titulo = "Atualização (2024-06-30)" %]
<p>
Como a seção de curadoria foi renomeada para bibliografia, precisei
fazer os devidos ajustes nesse trecho do artigo.
</p>
[% END %]

<h2 id="glossrio"><a href="/glossario.md">Glossário</a>
</h2>

<p>Dois novos termos foram adicionados ao glossário:</p>

<ul>
  <li>
    <a href="/glossario.md#ephemeron"><em>Ephemeron</em></a>
  </li>

  <li>
    <a href="/glossario.md#funo-annima">Função anônima</a>
  </li>
</ul>

<p>E algumas atualizações importantes foram feitas no termo <a href=
"/glossario.md#finalizador">Finalizador</a>.</p>

<h2 id="blog"><a href="/blog/todos.md">Blog</a>
</h2>

<p>Conforme havia dito antes, para o blog eu pretendia adicionar um <em>web
feed</em>, para facilitar que pessoas interessadas no Lu-a-Bá possam ficar
por dentro das novidades do projeto, e também receber notificações de novos
artigos no Blog.</p>

<p>Pois bem, isso foi feito, criei <a href="/blog/atom.xml">um <em>feed</em>
Atom</a> que você pode adicionar ao seu agregador de notícias.</p>

<p>
A título de curiosidade, para gerar o <em>feed</em>, criei um processo
semi-automatizado, no qual adiciono os metadados de cada novo artigo a
<a href="https://codeberg.org/luaba/conteudo/src/commit/698641f2e33930959014cab3865749bec8285e69/atom.lua">
um <em>script</em> Lua</a>, e reexecuto o <em>script</em>. Ele então se
encarrega de traduzir esses metadados em uma nova entrada no <em>feed</em>.
</p>

<p>Digo isto para lembrar que Lua pode ser uma opção bem prática para
descrição de dados e processamento de texto.</p>

[% WRAPPER nota.tt titulo = "Atualização (2024-06-30)" %]
<p>
Posteriormente, com a troca do gerenciamento do site para o
<a href="https://tt2.org">TT2</a>, esse script acabou caindo em desuso.
Mas isso não muda o fato de que o script Lua estava atendendo bem essa
necessidade.
</p>
[% END %]

<h2 id="prximos-passos">Próximos passos</h2>

<p>Bem, como sempre ainda há muito a fazer, e já estou pensando nas próximas
mudanças. Uma delas é trabalhar o nivelamento de conhecimento para leitores
dos tutoriais, ou seja, estabelecer uma lista de assuntos que se espera que o
leitor conheça para que possa se informar sobre eles, caso precise.</p>

<p>Também quero dar mais atenção à seção de versões, pois tudo que foi criado
nela foi anterior ao lançamento do Lu-a-Bá, e depois nunca mais foi
atualizada.</p>

<p>Por fim, preciso ainda fazer alguns ajustes &#8220;internos&#8221;. Na
medida que adiciono conteúdo novo, a complexidade do <em>script Makefile</em>
que uso para gerenciar o site aumenta. Para evitar que ele fique bagunçado,
pretendo reestruturar algumas partes dele, possivelmente dividindo em
<em>scripts</em> dedicados por seção.</p>

<p>Bem, por hora é isso. Até mais.</p>
[% END %]
