html { background-color: #f7f7f0; }

body {
	color: #4d4d4d;
	font-family: sans-serif;
}

header {
	padding-top: 10%;
	margin: 0 auto;
	width: 90%;
	display: block;
}

header p { text-align: center; }
header p a { text-decoration: none; }
header p img.logo { width: 10em; }

header p img.slogan {
	width: 30em;
	padding-bottom: 1em;
}

@media (max-width: 900px) {
	header p img.logo { width: 40%; }
	header p img.slogan { width: 90%; }
}

nav.cab {
	padding: 0.5em;
	text-align: center;
	max-width: 50%;
	margin: 0 auto;
	letter-spacing: 0.05em;
}

nav.cab > a {
	font-size: 1.4em;
	padding: 0.5em;
}

nav.cab details, aside.cab details {
	color: #782121;
	padding: 0.5em 0;
	margin: 0 auto;
	max-width: 50%;
}

nav.cab details { margin-top: 2em; }

nav.cab details[open] {
	border-width: 0.2em 0;
	border-style: solid;
	border-color: #4d4d4d;
	border-radius: 0.35em;
	color: #a02c2c;
	background-color: #fdfdf6;
}

nav.cab details[open] ul li {
	text-align: left;
	list-style-type: none;
}

nav.cab details summary {
	font-size: 1.3em;
	cursor: pointer;
}

nav.cab details ul { line-height: 2.8em; }
nav.cab details ul li a { text-decoration: none; }

nav.cab details ul li a:hover {
	text-decoration: underline;
	text-underline-offset: 0.2em;
}

@media (max-width: 1024px) {
	nav.cab details, aside.cab details { max-width: 90%; }
}

@media (max-width: 640px) {
	nav.cab, aside.cab { max-width: 80%; }
	nav.cab details summary { font-size: 1.2em; }
}

a {
	color: #3771c8;
	text-underline-offset: 0.12em;
}

a[href^="http"] { color: #0066aa; }
a[href^="http"]::after { content: "\00a0[\fe0e\2197]"; }

article {
	margin-top: 3em;
	width: 45em;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 900px) {
	article { width: 90%; }
}

article h1, article h2, article h3,
article h4, article h5 { color: #0088aa; }

article h1 {
	text-align: center;
	font-size: 2em;
}

article > h2 { font-size: 1.9em; }
article > h3 { font-size: 1.7em; }
article > h4 { font-size: 1.5em; }
article > h5 { font-size: 1.4em; }

article p {
	padding: 0 1em;
	letter-spacing: 0.05em;
	line-height: 1.5em;
	font-size: 1.3em;
}

div.topo {
	background-color: #f7f7f0;
	padding: 1em 3em;
	text-decoration: none;
	position: fixed;
	bottom: 0;
	right: 0;
}

div.topo span.txt {
	display:none;
	position: relative;
	bottom: 0.5em;
	right: 0.5em;
}

div.topo:hover span.txt {
	display: inline;
	font-size: 0.9em;
}

div.topo span.ico {
	font-size: 2.5em;
	font-weight: bold;
}

@media (max-width: 900px) {
	div.topo {
		width: 100%;
		padding: 1em 0 0;
		border-top: 0.1em solid #3771c8;
		box-shadow: 0 0 0.2em #3771c8;
	}

	div.topo span.ico { font-size: 1.8em; }

	div.topo span.txt {
		display: inline;
		bottom: 0.3em;
	}
}

article details.nota { margin-bottom: 0.5em; }

article details.nota summary {
	cursor: pointer;
	font-size: 1.2em;
	color: #0088aa;
}

article details[open].nota summary {
	text-decoration: underline;
	text-underline-offset: 0.2em;
}

article details[open].nota aside {
	padding: 1em 2em;
	background-color: #fdfdf6;
	margin: 1em 0;
	border-radius: 0.3em;
}

article details[open].nota aside p { font-size: 1.1em; }

article ul > li, article ol > li {
	line-height: 2.5em;
	font-size: 1.2em;
}

article ul > li ul > li { font-size: 0.95em; }

article ul > li > p {
	font-size: 1em;
	line-height: 2.3em;
	padding: 0;
}

article table {
	padding: 1em;
	margin: 0 auto;
}

article table td {
	font-size: 1.1em;
	padding: 0.8em;
}

section {
	margin-top: 3em;
	padding-top: 2em;
	border-top: 0.01em solid #0088aa;
}

section p { font-size: 1.2em; }

section div.irpara {
	font-size: 1.1em;
	text-align: center;
}

pre {
	padding: 1.5em;
	line-height: 2.5em;
	border-left: 0.4em solid #535d6c;
	border-radius: 0.2em;
	overflow-x: auto;
}

pre code {
	color: #535d6c;
	font-size: 1.3em;
	font-family: monospace;
}

p > code, li > code {
	background-color: #dbdee3;
	color: #535d6c;
	padding: 0.25em;
	border-radius: 0.2em;
}

div.footnotes ol li { font-size: 0.9em; }

footer {
	width: 40em;
	margin: 4em auto 0;
}

@media (max-width: 900px) {
	footer { width: 80%; }
}

footer p.topo { margin-bottom: 2.5em; }

footer nav.rod {
	padding: 1em;
	text-align: center;
}

footer nav.rod a {
	margin-right: 1em;
	font-size: 1.1em;
}

footer p {
	text-align: center;
	font-size: 1.1em;
}

footer p a.cc-img { text-decoration: none; }
