[% META
   titulo = "Blog"
   pchav  = "lua,português,blog"
%]
[% USE date %]
[% dt_fmt = "%d / %m / %Y" %]
[% PROCESS blog.tt %]
[% PROCESS feed_var.tt %]
[% WRAPPER artigo.tt %]
<table>
[% FOREACH item = recentes %]
  <tr>
    <td>[% date.format(item.publicado dt_fmt) %]</td>
    <td>
      <a href="/blog/[% item.caminho %]">[% item.titulo %]</a>
    </td>
  </tr>
[% END %]
</table>
[% END %]
