[% META
   titulo = "O que se espera de uma instalação"
%]
[% PROCESS geral.tt %]
[% WRAPPER artigo.tt %]
<p>
Ao obter Lua, você deverá se deparar com alguns ou com todos os arquivos a
seguir (dependendo do método escolhido para obter):
</p>

<ol>
  <li>
    Executáveis (<code>lua</code> e <code>luac</code>)
  </li>

  <li>
    Cabeçalhos
    (<code>lua.h</code>, <code>luaconf.h</code>, <code>lualib.h</code>,
    <code>lauxlib.h</code> e <code>lua.hpp</code>)
  </li>

  <li>
    Biblioteca Lua (<code>liblua.a</code>)
  </li>

  <li>
    Manuais (<code>lua.1</code> e <code>luac.1</code>)
  </li>
</ol>

<p>
Quando a instalação é feita via pacotes do sistema operacional, a
nomenclatura desses arquivos pode variar um pouco (especialmente porque é
comum que versões diferentes de Lua sejam suportadas no mesmo sistema), e os
arquivos podem ser distribuídos em pacotes diferentes.
</p>

<p>
Por exemplo, é bastante comum em sistemas POSIX que pacotes contendo
arquivos executáveis sejam separados de pacotes contendo arquivos de
cabeçalhos e bibliotecas, e em alguns casos até a documentação (manuais) é
separada.
</p>

<p>
Além disso, outros arquivos podem ser disponibilizados. É o caso, por
exemplo, de bibliotecas dinâmicas, que não são suportadas em todo sistema
operacional, mas que são bastante comuns, e no geral possuem extensão
<code>.so</code> ou <code>.dll</code>. De qualquer modo, isso já é um assunto
específico de cada sistema operacional.
</p>

<p>
Além dos manuais dos programas <code>lua</code> e <code>luac</code>,
arquivos HTML de documentação também tipicamente são copiados para algum
diretório do sistema, especialmente quando a instalação é feita por um
gerenciador de pacotes do sistema.
</p>
[% END %]
